%nav.breadcrumb{:role => "navigation"}
  %h2.element-invisible You are here
  %ol.breadcrumbs
    %li.breadcrumb-item You are here:
    %li.breadcrumb-item
      %a.breadcrumb-link{:href => "#"} Home
    %li.breadcrumb-item
      %a.breadcrumb-link{:href => "#"} News
    %li.breadcrumb-item Random news article
#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-news-media.icon-news
    %h1#page-title.block-title Random news article titele which a kind of long for a title so we can see how it streches over multiple lines
    .content
      %article.view-mode-full
        .submitted
          %a{:href => "#"} News
          by willie_mackenzie -
          %span.submitted-date June 5th 2014 - 11:29
        .field-name-body
          %img.field-type-image.pull-right{:alt => "The president giving an award.", :src => "http://placehold.it/320x320"}/
          %p On touch devices, a click event has a 300ms delay before firing. The reason for this the delay is that browsers need that buffer to make sure you aren’t going to double-tap on anything. The result is that if you use click events blindly, that delay creates a noticeable lag as users interact with elements on your page.
          %p There has been a Google + post by Rick Byers floating around the last few days claiming the best way to deal with the delay was to eliminate the double-tap zoom altogether. With no double-tap gesture to worry about, browsers no longer need that 300ms buffer and can now fire click events immediately.
          %p One of the recommendations made was to kill the double-tap gesture on Chrome and Firefox for Android. To do this, you have to kill scaling:
          %blockquote
            %p On Chrome Android and Firefox this involves using the “viewport” meta tag to disable zooming (with user-scalable=no or initial-scale=1,maximum-scale=1)
          %p The popularity of the post concerned me because while the comments discussed it a bit, the original post didn’t mention one massive, glaring issue with this recommendation: the impact on accessibility.
          %p Disabling scaling means not only is there no double-tap to zoom, but there is no pinch-to-zoom either. Many users depend on this functionality for accessibility: for them, disabling scaling effectively renders your site broken and useless.
          %picture
            %source{:media => "(min-width: 64em)", :srcset => "http://placehold.it/603x250, http://placehold.it/1440x500 2x"}
              %source{:media => "(min-width: 48em)", :srcset => "http://placehold.it/768x384, http://placehold.it/1536x768 2x"}
                %source{:media => "(min-width: 24em)", :srcset => "http://placehold.it/640x320, http://placehold.it/1280x640 2x"}
                  %img{:alt => "The president giving an award.", :src => "http://placehold.it/320x160", :srcset => "http://placehold.it/640x320 2x"}/
          %p So my advice is to avoid this like the plague in nearly all scenarios, for several reasons:
          %ul
            %li
              While only Chrome and Firefox for Android will benefit from it from a performance perspective,
              %strong everyone
              loses out on an important accessibility feature. For users who require the ability to zoom to use a site, you’ve just broken the experience for them.
            %li
              Chrome 32 is going to get clever and
              = succeed "." do
                %a{:href => "https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/8evES7o-QTY/FVCaNzCIvoAJ"} disable the double-tap to zoom feature without requiring scaling to be disabled
            %li
              iOS double-tap isn’t going anywhere anytime soon. iOS uses the double-tap gesture to provide a
              %a{:href => "http://www.slideshare.net/mobile/redux/getting-touchy-an-introduction-to-touch-and-pointer-events-future-of-web-apps-london-24102013/64"} scroll feature
              so you’re still going to have to account for the delay on one of the most popular mobile browsers.
          %p
            As
            %a{:href => "http://www.splintered.co.uk/"} Patrick Lauke
            %a{:href => "https://twitter.com/patrick_h_lauke/status/398543924069142528"} pointed
            %a{:href => "https://twitter.com/patrick_h_lauke/status/398544072883060736"} out
            on Twitter, this leaves three different solutions for developers, depending on the scenario:
          %ol
            %li
              Use something like
              = succeed "," do
                %a{:href => "https://github.com/ftlabs/fastclick"} FastClick
            %li Use FastClick or kill scalability (as we’ve just discussed, a bad idea) for Chrome versions 32 and under.
            %li Use width=device-width in their meta tags and celebrate when Chrome 32 and later don’t have a delay.
          %p So what’s a performance and accessibility loving developer to do if they want to get rid of the delay?
          %p At the end of the post, Rick states to “just switch to using FastClick”. That’s frequently my recommendation as well. FastClick does a good job of dealing with the issue—without losing the ability to pinch-to-zoom and does so at ~10kb minimized. That’s not super lightweight, but it’s not too painful either.
          %img.field-type-image.pull-left{:alt => "The president giving an award.", :src => "http://placehold.it/100x100"}/
          %p
            Another option is to use something like
            = succeed "," do
              %a{:href => "https://github.com/filamentgroup/tappy/"} Tappy!
          %p
            The point being: there are ways to successfully eliminate the click delay
            %em without
            negatively impacting performance. Until more browsers start solving this themselves, in the present day, preserving scaling and finding another way to combat the 300ms delay is our best option.
        .tags
          Tags:
          = succeed "," do
            %a.tag{:href => "#"} oceans
          = succeed "," do
            %a.tag{:href => "#"} Sustainable Fishery
          %a.tag{:href => "#"} conservation
        .submitted.submitted-extended
          .submitted-image
            %img{:alt => "Name of the author", :src => "http://placehold.it/75x75"}/
          .submitted-info
            %div
              %a{:href => "#"} News
              by willie_mackenzie
            .submitted-bio
              %p Born in 1965 and hailing from South Africa, Willie MacKenzie has been Greenpeace’s International Executive Director since November 2009.
            .submitted-all-reference
              %a{:href => "#"}> All News by willy_mackenzie
              \.

%aside.l-sidebar.sidebar
  = partial :"blocks/create_account"
  = partial :"blocks/go_to_group"
