%figure
  %img.lazyload{:alt => "Example of image.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "data-srcset" => "/photos/#{image} 1536w, /photos/#{image} 1440w, /photos/#{image} 1280w, /photos/#{image} 768w, /photos/#{image} 640w, /photos/#{image} 603w, /photos/#{image} 320w"}/
  %noscript
    %img{:src => "/photos/#{image}", "sizes" => "(min-width: 64em) 603px, (min-width: 48em) 768px, (min-width: 24em) 640px, 320px", "srcset" => "/photos/#{image} 1536w, /photos/#{image} 1440w, /photos/#{image} 1280w, /photos/#{image} 768w, /photos/#{image} 640w, /photos/#{image} 603w, /photos/#{image} 320w"}/
  %figcaption
    #{caption}. Original by
    %a{:href => "#"}
      = lorem.name
