---
title: Buttons
body_class: page-buttons l-has-sidebar-first
layout: styleguide
direct_parent:
  -
    name: "Styleguide"
    url: "/"
  -
    name: "UI Components"
    url: "./blocks.html"

layout: styleguide
---

= partial :"blocks/breadcrumbs"

%aside.sidebar-first
  = partial :"nav/uicomponents"
#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Buttons
    %p Buttons get a standard .button class, the element type is not of influence on its appearance

  .two-col
    = partial :"components/button-standard"
    = partial :"components/button-primary"
    = partial :"components/button-hovered"
    = partial :"components/button-active"
    = partial :"components/button-disabled"
    = partial :"components/button-block"
    = partial :"components/button-small"
    = partial :"components/button-large"
    = partial :"components/button-icon"
    = partial :"components/button-icon-small-notext"

