---
title: Buttons
body_class: page-buttons
layout: styleguide
---

%aside.sidebar-left
  = partial :"nav/uicomponents"
#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire buttons
    %p Buttons get a standard .button class, the element type is not of influence on its appearance

  .two-col
    = partial :"components/partials/button-standard"
    = partial :"components/partials/button-primary"
    = partial :"components/partials/button-hovered"
    = partial :"components/partials/button-active"
    = partial :"components/partials/button-disabled"
    = partial :"components/partials/button-block"
    = partial :"components/partials/button-small"
    = partial :"components/partials/button-large"
    = partial :"components/partials/button-icon"
    = partial :"components/partials/button-icon-small-notext"

