!!!5
%html.no-js{:lang => "en", :dir=> "ltr"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width", :name => "MobileOptimized"}/
    %link{:href => "http://www.w3.org/1999/xhtml/vocab", :rel => "profile"}/
    %link{:href => "http://ggw-prototype.goalgorilla.com/images/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "Drupal 7 (http://drupal.org)", :name => "Generator"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title=page_title

    = javascript_include_tag "modernizr.2.8.2.custom"
    /[if lte IE 8]
      = stylesheet_link_tag "old-ie"
      = javascript_include_tag "html5shiv.min"

    <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
    = stylesheet_link_tag "all"
    <!--<![endif]-->


  %body{:class => "#{current_page.data.body_class || page_classes}"}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    .layout-base

      - if current_page.data.design_status
        = partial :status

      .l-branding-header.nav-down
        .container
          %a.logo{:href => "./index.html", :rel => "home", :title => "Home"}
            %span.element-invisible Greenpeace Greenwire  Nederland
          .mobile-nav
            %a#main-menu-show.nav-btn.icon-menu{"data-nav" => "js-nav", :href => "#primary-nav"}
              %span.element-invisible Show primary navigation
            %a#secondary-menu-show.nav-btn.icon-user{"data-nav" => "js-nav2", :href => "#secondary-nav"}
              %span.element-invisible Show secondary navigation

      = partial :"regions/header"

      .l-main.container#main
        = yield

      = partial :"nav/footer"

    = javascript_include_tag  "theme"

    = partial :"loadfont"

    /[if lte IE 8]
      = javascript_include_tag "oldie"

    :javascript
      function lazyImg() {
        var imgDefer = document.getElementsByTagName('img');
        for (var i=0; i<imgDefer.length; i++) {
          if(imgDefer[i].getAttribute('data-src')) {
            imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
          }
        }
      }
      window.onload = lazyImg;
