!!!5
%html.no-js{:lang => "en", :dir=> "ltr"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width", :name => "MobileOptimized"}/
    %link{:href => "http://www.w3.org/1999/xhtml/vocab", :rel => "profile"}/
    %link{:href => "http://greenpeace.github.io/ggw_styleguide/images/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "Drupal 7 (http://drupal.org)", :name => "Generator"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title=page_title

    /[if lte IE 8]
      = stylesheet_link_tag "old-ie"

    <!--[if (gte IE 9)|(gt IEMobile 7)|(!IE)]><!-->
    = stylesheet_link_tag "all"
    <!--<![endif]-->

    = javascript_include_tag "before"

  %body{:class => "#{current_page.data.body_class || page_classes}"}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    .layout-base

      - if current_page.data.design_status
        = partial :status

      .l-branding-header
        .container
          %a.logo{:href => "./index.html", :rel => "home", :title => "Home"}
            %span.element-invisible Greenpeace Greenwire  Nederland
          .mobile-nav
            %a#main-menu-show.nav-btn.icon-menu{"data-nav" => "js-nav", :href => "#primary-nav"}
              %span.element-invisible Show primary navigation
            %a#secondary-menu-show.nav-btn.icon-user{"data-nav" => "js-nav2", :href => "#secondary-nav"}
              %span.element-invisible Show secondary navigation

      = partial :"regions/header"

      .l-main.container#main
        = yield

      = partial :"nav/footer"

    = javascript_include_tag  "theme"
    = javascript_include_tag  "video"

    - if current_page.data.loadvideo == "youtube"
      :javascript

        $(document).ready(function() {
          lazyload_youtube.init({
            theme: 'dark',
            colour: 'white',
            controls: true,
            responsive: true,
            thumbnailquality: '0',
          });
        });

    - if current_page.data.script == "leaflet"

      #mobilemap
      %a#close-map.map-close-button{:href => "#"}
        %span.element-invisible close

      = javascript_include_tag "http://greenpeace.github.io/ggw_styleguide/vendor/leaflet/leaflet.js"

      :javascript
          // create a map in the "map" div, set the view to a given place and zoom
        var mobileMap = L.map('mobilemap').setView([51.505, -0.09], 13);
        var deskMap= L.map('desktopmap').setView([51.505, -0.09], 13);
        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(deskMap);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(mobileMap);
        var greenIcon = L.icon({
          iconUrl: 'http://greenpeace.github.io/ggw_styleguide/images/marker-green.png',
          iconRetinaUrl: 'http://greenpeace.github.io/ggw_styleguide/images/marker-green@2x.png',
          shadowUrl: 'http://greenpeace.github.io/ggw_styleguide/images/marker-shadow.png',
          shadowRetinaUrl: 'http://greenpeace.github.io/ggw_styleguide/images/marker-shadow.png',
          iconSize:     [25, 41], // size of the icon
          shadowSize:   [41, 41], // size of the shadow
          iconAnchor:   [13, 41], // point of the icon which will correspond to marker's location
          shadowAnchor: [13, 41],  // the same for the shadow
          popupAnchor:  [1, -5] // point from which the popup should open relative to the iconAnchor
        });
        // add a marker in the given location, attach some popup content to it and open the popup
        L.marker([51.5, -0.09], {icon: greenIcon}).addTo(deskMap)
          .bindPopup('<h2 class="node-title"><a href="#">Ga mee naar Festival Mundial</a></h2> <div class="field field-name-field-event-date"><span class="date-display-single">25 September, 2014 - 14:57</span></div>');
          L.marker([51.5, -0.09], {icon: greenIcon}).addTo(mobileMap)
              .bindPopup('<h2 class="node-title"><a href="#">Ga mee naar Festival Mundial</a></h2> <div class="field field-name-field-event-date"><span class="date-display-single">25 September, 2014 - 14:57</span></div>');
