#block-comments.block.block-comments
  - if current_page.data.front == "frontpage" || current_page.data.joined == "joined"
    %i.block-icon.icon-chat.icon-bg-action
    %h2.block-title Shoutbox
  - else
    %i.block-icon.icon-comment.icon-bg-action
    %h2.block-title Comments

  .content
    - if current_page.data.front != "frontpage" && current_page.data.joined != "joined"

      %ul.sort-comments
        %li Sort by:
        %li
          %a.active{:href => "#"} Oldest
        %li
          %a{:href => "#"} Newest

    .comment-form-holder
      %form.comment-form
        .form-comment-message
          - if current_page.data.front == "frontpage" || current_page.data.joined == "joined"
            %textarea#shoutbox-comment{:cols => "50", :placeholder => "Write a shout...", :rows => "1"}
          - else
            %textarea#comment-comment{:cols => "50", :placeholder => "Write a comment...", :rows => "1"}
        - if current_page.data.front == "frontpage" || current_page.data.joined == "joined"
          %span#remain
        %input.form-comment-submit{:type => "submit", :value => "share"}
        %input.tooltip.form-comment-file{:accept => "image/*", "data-tip" => "Attach a photo", :type => "file"}

    %section.comments
      %article.comment
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
            %noscript
              %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              = lorem.name
          .comment-body
            I agree.
          .comment-footer
            %span.comment-timestamp 5 minutes ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
              %a.comment-actionlink.modal-inline{:href => "#edit-comment"} edit
              %a.comment-actionlink.modal-inline{:href => "#delete-comment"} delete
      %article.comment
        .avatar-holder
          %a{:href => "./profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              = lorem.name
            (
            %a{:href => "./who-is-who.html"}><
              Greenpeace staff
            )
          .comment-body
            = lorem.paragraph
            %img.lazyload{:alt => "Chico Konink", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/nature7.jpg 1x, /photos/nature8.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/nature7.jpg", :srcset => "/photos/nature7.jpg 1x, /photos/nature8.jpg 2x"}/
          .comment-footer
            %span.comment-timestamp 30 minutes ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
              %a.comment-actionlink.modal-inline{:href => "#edit-comment"} edit
              %a.comment-actionlink.modal-inline{:href => "#delete-comment"} delete
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              = lorem.name
            (
            %a{:href => "./who-is-who.html"}><
              Community coach
            )
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 1 hour ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people7.jpg", :srcset => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              = lorem.name
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 2 hours ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
              %a.comment-actionlink.modal-inline{:href => "#edit-comment"} edit
              %a.comment-actionlink.modal-inline{:href => "#delete-comment"} delete
      %article.comment
        .avatar-holder
          %a{:href => "./profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              Erben de Bok
          .comment-body
            “What do you think
            = succeed "?" do
              %a{:href => "./profile.html", :title => "View Erben de Bok's profile"} Erben de Bok
          .comment-footer
            %span.comment-timestamp 12 May 2014 at 13:56
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
      %article.comment
        .avatar-holder
          %a{:href => "./profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              Johnny with his extremelonglastname
          .comment-body
            “I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her rehabilitation exercises after each surgery. “People I have known who had [replacement surgery] and who didn’t do the therapy, it doesn’t work out for them.”
          .comment-footer
            %span.comment-timestamp 2 Nov 2013 at 08:56
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
      %article.comment
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
            %noscript
              %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              = lorem.name
          .comment-body
            I agree.
          .comment-footer
            %span.comment-timestamp 5 minutes ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
              %a.comment-actionlink.modal-inline{:href => "#edit-comment"} edit
              %a.comment-actionlink.modal-inline{:href => "#delete-comment"} delete
      %article.comment
        .avatar-holder
          %a{:href => "./profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "#", :title => "View profile"}
              = lorem.name
            (
            %a{:href => "./who-is-who.html"}><
              Greenpeace staff
            )
          .comment-body
            = lorem.paragraph
            %img.lazyload{:alt => "Chico Konink", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/nature7.jpg 1x, /photos/nature8.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/nature7.jpg", :srcset => "/photos/nature7.jpg 1x, /photos/nature8.jpg 2x"}/
          .comment-footer
            %span.comment-timestamp 30 minutes ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
              %a.comment-actionlink.modal-inline{:href => "#edit-comment"} edit
              %a.comment-actionlink.modal-inline{:href => "#delete-comment"} delete
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              = lorem.name
            (
            %a{:href => "./who-is-who.html"}><
              Community coach
            )
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 1 hour ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply
      %article.comment.comment-reply
        .avatar-holder
          %a{:href => "profile.html", :title => "View user profile"}
            %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
            %noscript
              %img{:alt => "Chico Konink", :src => "/photos/60/people7.jpg", :srcset => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
        .comment-holder
          .comment-head
            %a.comment-author{:href => "./profile.html", :title => "View profile"}
              = lorem.name
          .comment-body
            I keep my weight down, and I exercise,” she said. And, she added, she was diligent about doing her.
          .comment-footer
            %span.comment-timestamp 2 hours ago
            %span.comment-actions
              %a.comment-actionlink.modal-inline{:href => "#reply-comment"} reply


    - if current_page.data.front == "frontpage" || current_page.data.joined == "joined"
      %hr
      .align-center
        %a.button.load-more-btn{:href => "#"} Show some more

  = partial :"blocks/lu/reply-comment"
  = partial :"blocks/lu/edit-comment"
  = partial :"blocks/lu/delete-comment"

