.block#block-enrollments
  %i.block-icon.icon-users.icon-bg-event
  %h2.block-title Enrollments
  .content
    %p Why not ask your friends to join as well?
    %a.modal-inline.button.btn-block.btn-primary{:href => "#invite-friends"} Invite friends

  .content
    .enrollments
      - 1.times do |num|
        %a{:href => "#"}
          %img.lazyload{:alt => "Grace O'Flynn", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/grace.jpg"}/
          %noscript
            %img{:alt => "Grace O'Flynn", :src => "/photos/75/grace.jpg"}/

    %p 1 person is going

  - if current_page.data.organiser == "organiser"
    %a.button.btn-block{:href => "./event-manage-enrollments.html"} Manage enrollments
  - else
    %a.button.btn-block{:href => "./event-view-enrollments.html"} View enrollments

#invite-friends.block.white-popup.mfp-hide
  %i.block-icon.icon-user-add.icon-bg-action
  %h2.block-title Invite your friends
  .content
    %form.node-form.node-event_signup-form{:action => "#friend-request-sent", :method => "post"}
      .form-wrapper
        .form-item.form-type-select
          %label.form-label
            Select who you want to invite:
            %span.form-required{:title => "This field is required."} *
          .form-description This event is part of a closed group, so only members of the group can join
          %select.chosen-select{"data-placeholder" => "Select some friends...", :multiple => "multiple" }
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (is not attending)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (is attending)
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
        .form-item
          %label
            Subject:
            %span.form-required{:title => "This field is required."} *
          %input.form-text{:type => "text", :value => "Event invitation: Join us to festival Mundial",  :placeholder => "Event invitation: This event name"}
        .form-item.form-type-textarea
          %label{:for => "edit-body-und-0-value"}
            Message:
            %span.form-required{:title => "This field is required."} *
          .form-textarea-wrapper.fullwidth
            %textarea#edit-body-und-0-value.text-full.form-textarea{:rows => "8"}
              = lorem.paragraph
              &#10;&#10;To join this event click here: &#10;http://greenwire.greenpeace.org/united-kingdom/en/events/this-event-url
        .form-actions
          %input.button.btn-primary{:type => "submit", :value => "Send message", "data-target" => "#friend-request-sent"}
