.block#block-enrollments
  %i.block-icon.icon-users.icon-bg-event
  %h2.block-title{"data-amtitle" => "Enrollments"} Enrollments
  .content
    %p Why not ask your friends to join as well?
    %a.modal-inline.button.btn-block.btn-primary{:href => "#invite-friends"} Invite friends

  .content
    .members
      - 21.times do |num|
        - if num  > 1
          %a.member-item{:href => "#"}
            %img.lazyload{:alt => "Name of user", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/member#{num}.jpg"}/
            %noscript
              %img{:alt => "Name of user", :src => "/photos/75/member#{num}.jpg"}/

  - if current_page.data.organiser == "organiser"
    %a.button.btn-block{:href => "./event-manage-enrollments_changed.html"} Manage enrollments
  - else
    %a.button.btn-block{:href => "./event-view-enrollments.html"} View enrollments

#invite-friends.block.white-popup.mfp-hide
  %i.block-icon.icon-user-add.icon-bg-action
  %h2.block-title Invite your friends
  .content
    %form.node-form.node-event_signup-form{:action => "./event-full-organiser.html#friend-request-sent", :method => "get"}
      .form-wrapper
        .form-item.form-type-select
          %label.form-label
            Select who you want to invite:
            %span.form-required{:title => "This field is required."} *
          .form-description This event is part of a closed group, so only members of the group can join
          %select.chosen-select{"data-placeholder" => "Select some friends...", :multiple => "multiple" }
            - for friends in data.members.suggestion
              %option{:value => ""}
                #{friends}
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
        .form-item
          %label
            Subject:
            %span.form-required{:title => "This field is required."} *
          %input.form-text{:type => "text", :value => "Event invitation: Organic gardening", :placeholder => "Event invitation: Organic gardening"}
        .form-item.form-type-textarea
          %label{:for => "edit-body-und-0-value"}
            Message:
            %span.form-required{:title => "This field is required."} *
          .form-textarea-wrapper.fullwidth
            %textarea#edit-body-und-0-value.text-full.form-textarea{:rows => "8"}
              = lorem.paragraph
              &#10;&#10;To join this event click here: &#10;http://greenwire.greenpeace.org/united-kingdom/en/events/organic-gardening
        .form-actions
          %input.button.btn-primary{:type => "submit", :value => "Send invitation"}
