#block-group-members-all.block.white-popup.mfp-hide
  %i.block-icon.icon-bg-group.icon-users
  %h2.block-title
    Members of Beat(s Against) Coal
  .content
    = partial :"teasers/member"
    = partial :"teasers/member_2"
    = partial :"teasers/member_3"
    = partial :"teasers/member_4"
    = partial :"teasers/member"
    = partial :"teasers/member_2"
    = partial :"teasers/member_3"
    = partial :"teasers/member_4"
    = partial :"teasers/member"
    = partial :"teasers/member_2"
    = partial :"teasers/member_3"
    = partial :"teasers/member_4"
    = partial :"teasers/member"
    = partial :"teasers/member_2"
    = partial :"teasers/member_3"
    = partial :"teasers/member_4"
    .align-center
      %a.button{:href => "#"} show some more
