.block#block-invite-friends
  %i.block-icon.icon-user-add.icon-bg-action
  %h2.block-title{"data-amtitle" => "Invite friends"} Invite your friends
  .content
    %p Why not ask your friends to join as well?
    %a.modal-inline.button.btn-primary{:href => "#invite-friends-form"} Invite friends

#invite-friends-form.block.white-popup.mfp-hide
  %i.block-icon.icon-user-add.icon-bg-action
  %h2.block-title Invite your friends
  .content
    %form.node-form.node-event_signup-form{:action => "#friend-request-sent", :method => "get"}
      .form-wrapper
        .form-item.form-type-select
          %label.form-label
            Select who you want to invite:
            %span.form-required{:title => "This field is required."} *
          .form-description This event is part of a closed group, so only members of the group can join
          %select.chosen-select{"data-placeholder" => "Select some friends...", :multiple => "multiple" }
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (is not attending)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (is attending)
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => "", :disabled => "disabled"}
              = lorem.name
              (Not a group member)
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
            %option{:value => ""}
              = lorem.name
        .form-item
          %label
            Subject:
            %span.form-required{:title => "This field is required."} *
          %input.form-text{:type => "text", :value => "",  :placeholder => "Event invitation: #{event}"}
        .form-item.form-type-textarea
          %label{:for => "edit-body-und-0-value"}
            Message:
            %span.form-required{:title => "This field is required."} *
          .form-textarea-wrapper.fullwidth
            %textarea#edit-body-und-0-value.text-full.form-textarea{:rows => "8"}
              Hi friend, I would like to ask you to join the event #{event}.
              &#10;&#10;To join this event click here: &#10;http://greenwire.greenpeace.org/united-kingdom/en/events/this-event-url
        .form-actions
          %input.button.btn-primary{:type => "submit", :value => "Send message", "data-target" => "#friend-request-sent"}