#notifications-panel.notifications-panel.dropdown.dropdown-tip.dropdown-anchor-right
  .dropdown-panel.content

    .tabwrapper
      %ul.tabs
        %li
          =nav_link 'Alerts (4)', '#notialerts', :class => 'tab'
        %li
          =nav_link 'Updates (2)', '#notiupdates', :class => 'tab'

    .tabable
      #notialerts.tabable-block.active
        %section.notifications-section
          %article.notification
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  wants to be friends with you.
                .notifications-footer
                  %span.timestamp
                    5 minutes ago

          %article.notification
            %a.media{:href => "./event-full.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has invited you to his event 'lorem ipsum'.
                .notifications-footer
                  %span.timestamp
                    3 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mentioned you in a comment.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people7.jpg", :srcset => "/photos/60/people7.jpg 1x, /photos/120/people7.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  invited you to join the group 'Stop Shell Now'.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people8.jpg", :srcset => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    6 days ago

        .load-more-wrapper
          %a.button.btn-block#showallnotifications{:href => "#"} see all

        #hidden-notifications.element-hidden

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  wants to be friends with you.
                .notifications-footer
                  %span.timestamp
                    5 minutes ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a private message.
                .notifications-footer
                  %span.timestamp
                    1 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    2 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    2 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a private message.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people8.jpg", :srcset => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  wants to be friends with you.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people9.jpg", :srcset => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a private message.
                .notifications-footer
                  %span.timestamp
                    1 week ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    1 week ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    2 weeks ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  invited you to join the group 'Green nerds'.
                .notifications-footer
                  %span.timestamp
                    3 weeks ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  invited you to join the event 'Paint the city'.
                .notifications-footer
                  %span.timestamp
                    1 month ago

      #notiupdates.tabable-block
        %section.notifications-section
          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  posted a shout in the group 'Clean the streets'
                .notifications-footer
                  %span.timestamp
                    5 minutes ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  commented on the album 'Reforestation day'
                .notifications-footer
                  %span.timestamp
                    7 minutes ago

          %article.notification
            %a.media{:href => "#"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  commented on the blog 'Arctic life, part 5'
                .notifications-footer
                  %span.timestamp
                    10 minutes ago

        .load-more-wrapper
          %a.button.btn-block.disabled{:href => "#"} see all
