---
title: Video page example
body_class: not-front logged-in page-type-video l-has-sidebar node-full
direct_parent:
  -
    name: "Videos"
    url: "videos.html"
user_role: lu
slider: youtube
comments: yes
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.main-content.current
    %i.block-icon.icon-bg-news-media.icon-video
    %h1.block-title{"data-amtitle" => "Video"}
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.video{:href => "./videos.html"} Video
          by
          %a{:href => "./profile.html"}
            = lorem.name
          -
          %span.submitted-date June 5th 2014 - 11:29

          %a.comments-shortcut.show-block{:href => "#block-comments", "data-scroll" => ""}
            %i.icon-comment
            10 comments

        .container-lazyload.preview-lazyload.container-youtube#youtube_1
          %a.lazy-load-youtube.preview-lazyload.preview-youtube{:href => "http://www.youtube.com/watch?v=esj393oRKPc", "video-title" => "Greenpeace in Action", :title => "Play Greenpeace in Action"}
            http://www.youtube.com/watch?v=esj393oRKPc

        .field-name-body
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %p
            = lorem.paragraph
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img.lazyload{:alt => "Name of the author.", :src => "/images/blank.png", "data-src" => "/photos/75/people1.jpg"}/
            %noscript
              %img{:alt => "Name of the author.", :src => "/photos/75/people1.jpg"}/
          .submitted-info
            %div
              %a{:href => "./videos.html"} Video
              by
              %a{:href => "./profile.html"}
                = lorem.name

            .submitted-all-reference
              %a{:href => "#"}
                All videos by
                = lorem.name
                \.

  = partial :"blocks/lu/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/lu/subscribe"

