---
title: Typography
body_class: page-typography
layout: styleguide
design_status: Needs review
---

%aside.sidebar-left
  = partial :"nav/designelements"
#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire typography
    %p
  = partial :"design-elements/partials/heading"
  = partial :"design-elements/partials/body-copy"
  = partial :"design-elements/partials/inline-text"
  = partial :"design-elements/partials/list"
  = partial :"design-elements/partials/blockquote"
  = partial :"design-elements/partials/links"
