---
title: News article example
body_class: not-front not-logged-in page-type-news l-has-sidebar node-full
direct_parent:
  -
    name: "News"
    url: "news.html"
user_role: an
---

= partial :"blocks/breadcrumbs"

- data.news.with_image.each do |item|

  .l-main-column
    #content.block.main-content.current
      %i.block-icon.icon-bg-news-media.icon-news
      %h1.block-title{"data-amtitle" => "News article"}
        = item.title
      .content
        %article.view-mode-full
          .submitted
            %a.type.news{:href => "./news.html"} News
            = succeed " -" do
              = item.author.downcase.tr(' ', '_')
            %span.submitted-date
              = item.datetime

          = partial :"images/article-image"

          .field-name-body
            = item.full_text

          .tags
            Tags:
            %a.tag
              = item.tags

          .submitted.submitted-extended
            .submitted-image
              %img.lazyload{:alt => "#{item.author}", :src => "/images/blank.png", "data-src" =>  "/photos/75/people5.jpg"}/
              %noscript
                %img{:alt => "#{item.author}", :src => "/photos/75/people5.jpg"}/
            .submitted-info
              %div
                %a{:href => "./news.html"} News
                by
                = item.author.downcase.tr(' ', '_')

    = partial :"blocks/an/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/an/create_account"

