%header.l-header.header{:role => "banner"}
  .container
    #primary-nav.off-canvas
      .nav-inner-wrap
        .block-search
          %form.search-form{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            .form-item-search
              %i.icon-search
              %input.form-text{:maxlength => "128", :name => "search", :placeholder => "Search Greenwire", :size => "60", :type => "text"}/
            .form-actions
              %input.form-submit{:name => "op", :type => "submit", :value => "Search"}/
        %nav.main-menu{:role => "navigation"}
          %ul.menu
            - data.nav.primary.each do |item|
              %li.menu-item
                %a.menu-link{:href => "#{item.url}"}
                  = item.name
                - if item.sub
                  %ul.menu
                    - item.sub.each do|hist|
                      %li.menu-item
                        %a.menu-link{:href => "#{hist.url}"}
                          = hist.name
    #secondary-nav.off-canvas
      .nav-inner-wrap
        %nav.user-menu{:role => "navigation"}
          %ul.menu
            - data.nav.secondary.each do |item|
              %li.menu-item
                %a.menu-link{:href => "#{item.url}"}
                  = item.name
        .l-country-selector.country-selector
          .dropdown-controller
            %a.trigger{"data-dropdown" => "#dropdown-content-country", :href => "#"}
              International
              %span.country-img
          #dropdown-content-country.dropdown.dropdown-scroll
            %ul.dropdown-list
              - data.nav.nro.each do |item|
                %li
                  %a{:href => "#"}
                    = item
        .l-language-selector.language-selector
          .dropdown-controller
            %a.trigger{"data-dropdown" => "#dropdown-content-language", :href => "#"} Language
          #dropdown-content-language.dropdown.dropdown-scroll
            %ul.dropdown-list
              %li
                %a{:href => "#"} Francais
              %li
                %a{:href => "#"} Nederlands
