---
title: Blog article example
body_class: not-front logged-in page-type-blog l-has-sidebar node-full
user_role: lu
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .block.main-content
    %i.block-icon.icon-bg-news-media.icon-blog
    %h1#page-title.block-title
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.blog{:href => "./blogs.html"} Blog
          by
          %a{:href => "./profile.html"}
            = lorem.name

          %span.submitted-date November 25th 2014 - 8:29

          %a.comments-shortcut{:href => "#block-comments", "data-scroll" => ""}
            %i.icon-comment
            10 comments

        = partial :"images/article-image"

        .field-name-body
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %blockquote
            %p
              = lorem.sentence
          %p
            = lorem.paragraph
            %a{:href => "http://www.greenpeace.org"} go to website
          %p
            = lorem.paragraph
          %img.field-type-image{:alt => "Description of the image.", :src => "http://placeimg.com/620/320/nature/6"}/
          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %p
            = lorem.paragraph
          %ol
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %img.field-type-image.pull-right{:alt => "Example of image.", :src => "http://placeimg.com/300/200/arch/5"}/
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img.lazyload{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
            %noscript
              %img{:alt => "Name of the author.", :src => "/photos/75/people5.jpg"}/
          .submitted-info
            %div
              %a{:href => "./blogs.html"} Blog
              by
              %a{:href => "./profile.html"}
                = lorem.name
            .submitted-all-reference
              %a{:href => "#"}
                All Blogs by
                = lorem.name
              \.

  = partial :"blocks/lu/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/lu/get_involved"
  = partial :"blocks/lu/subscribe"

