---
title: Event view enrollments
body_class: not-front logged-in page-view-event-enrollments no-sidebar is-content-manager
direct_parent:
  -
    name: "Events"
    url: "events.html"
  -
    name: "Join us to festival Mundial"
    url: "event-full-enrolled.html"
user_role: lu
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .block

    %i.block-icon.icon-bg-event.icon-users
    %h1.block-title#page-title
      = current_page.data.title

    .content

      .view-filters
        = partial :"nav/manage-enrollments-actions"

      .view-search-results
        .view-content
          %table.tablesaw{"data-tablesaw-mode" => "swipe"}
            %thead
              %tr
                %th.views-field-views-bulk-operations{"data-tablesaw-priority" => "persist"}
                  %input.form-checkbox{:type => "checkbox"}
                %th.views-field-avatar{"data-tablesaw-priority" => "persist"}
                %th.views-field-name{"data-tablesaw-priority" => "persist"} Name
                %th.views-field-username Username
                %th.views-field-email Email
                %th Phone
                %th Status
                %th Member roles
                %th Member since
                %th Request message
                %th{"data-tablesaw-priority" => "persist"} Actions

            %tbody
              - 25.times do |num|
                %tr
                  %td
                    %input.form-checkbox{:type => "checkbox"}
                  %td
                    %img.lazyload{:alt => "Example of an image", :src => "/photos/blank.png", "data-src" => "/photos/75/people3.jpg"}/
                    %noscript
                      %img{:alt => "Name of the author.", :src => "/photos/75/people1.jpg"}/
                  %td
                    = lorem.name
                  %td
                    = lorem.name.downcase.tr(' ', '_')
                  %td
                    = lorem.email
                  %td
                    = rand(100000000)
                  %td
                    active
                  %td
                    -
                  %td
                    = lorem.date
                  %td
                    = lorem.sentence
                  %td
                    .btn-group
                      %a.button
                        %i.icon.icon-pencil
                        %span.element-hidden edit
                      %a.button
                        %i.icon.icon-trash
                        %span.element-hidden delete

          .align-center
            %a.button{:href => "#"} show some more
