---
title: Events
body_class: not-front logged-in page-events l-has-sidebar
user_role: lu
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block.hero#block-hero.current
    %i.block-icon.icon-bg-event.icon-map.only-mobile
    %h2.block-title.element-hidden{"data-amtitle" => "Events map"}
    #eventmap.map

.l-main-column
  #content.block.current
    = partial :"blocks/lu/add-content"
    %i.block-icon.icon-bg-event.icon-event
    %h1.block-title{"data-amtitle" => "Events list"}
      = current_page.data.title
    .content
      = partial :"teasers/event-with-image-subscribed"
      = partial :"teasers/event-with-image-subscribed"
      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-with-image"

%aside.l-sidebar.sidebar
  = partial :"blocks/find_events"

= javascript_include_tag "leaflet"
= javascript_include_tag "map-data"

:javascript

  var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }),
  latlng = L.latLng(52.5, -2);

  var map = L.map('eventmap', {center: latlng, zoom: 5, scrollWheelZoom: false, layers: [tiles]});

  var markers = L.markerClusterGroup();

  var eventIcon = L.icon({
    iconUrl: '/images/marker-events.png',
    iconRetinaUrl: '/images/marker-events@2x.png',
    shadowUrl: '/images/marker-shadow.png',
    shadowRetinaUrl: '/images/marker-shadow@2x.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [13, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [13, 41],  // the same for the shadow
  });

  for (var i = 0; i < events.length; i++) {
    var a = events[i];
    var marker = L.marker(new L.LatLng(a.lat, a.lng), {icon: eventIcon});
    marker.bindPopup('<h2 class="node-title"><a href="' + a.link + '">' + a.title +'</a></h2><div class="field field-name-field-event-date"><span class="date-display-single">'+ a.date +'</span></div>');
    markers.addLayer(marker);
  }

  map.addLayer(markers);
