---
title: Join us to festival Mundial
body_class: not-front logged-in page-type-event l-has-sidebar node-full
direct_parent:
  -
    name: "Events"
    url: "events.html"
user_role: lu
mapsds: event
design_status: Work in progress
action_menu:
  -
    id: "#content"
    label: "Event"
    icon: "event"
  -
    id: "#block-enroll"
    label: "Enroll"
    icon: "login"
  -
    id: "#block-enrollments"
    label: "Enrollments"
    icon: "users"
  -
    id: "#block-comments"
    label: "Comments"
    icon: "chat"
  -
    id: "#block-subscribe"
    label: "Subscribe"
    icon: "eye"
  -
    id: "#block-go-to-group"
    label: "Go to group"
    icon: "users"
---


= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.main-content.current
    %i.block-icon.icon-bg-event.icon-event
    %h1#page-title.block-title
      = current_page.data.title
    .content
      %article.view-mode-full
        .submitted
          %a.type.event{:href => "./events.html"} Event
          by
          %a{:href => "./profile.html"}
            = lorem.name
          \-
          %span.submitted-date June 5th 2014 - 11:29
          %a.comments-shortcut{:href => "#block-comments", "data-scroll" => ""}
            %i.icon-comment
            10 comments


        .field-name-body

          .field-group-wrapper

            = partial :"images/article-image"

            .field-group-format

              .field.field-name-field-event-date
                .field-label Date:
                %div
                  %span.date-display-start 13 July, 2014 - 09:00 CEST
                  to
                  %span.date-display-end 14 July, 2014 - 12:00 CEST

              .field.field-name-field-event-location
                .field-label Location:
                %div
                  %a.popup-iframe{:href => "./event_map_single.html"}
                    %span Somewhere down town
                    %span Mainstreet 234
                    %span London

              .field.field-name-field-event-type
                .field-label Event type:
                %div
                  %span Festival/Market

              .field.field-name-field-event-organiser
                .field-label Event organiser:
                %div
                  Organised by
                  %a{:href => "#"}
                    = lorem.name

              .field.field-name-field-event-num-attendees
                .field-label Attendees:
                %div
                  %span 36 persons are going

            .event-actions
              %a.button.btn-block.btn-primary.btn-l.show-block{:href => "#block-enroll"} Enroll for this event

          #eventmap-desk.map

          %p
            %strong Festival Mundial

          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %ol
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %img.field-type-image.pull-left{:alt => "Example of image.", :src => "/photos/nature10.jpg"}/
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img.lazyload{:alt => "Name of the author.", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/75/people5.jpg"}/
            %noscript
              %img{:src => "/photos/75/people5.jpg", :alt => "Name of the author."}/
          .submitted-info
            %div
              %a{:href => "./events.html"} Event
              by
              = lorem.name
            .submitted-bio
              %p Born in 1965 and hailing from South Africa, Willie MacKenzie has been Greenpeace’s International Executive Director since November 2009.
            .submitted-all-reference
              %a{:href => "#"}
                All events by
                = lorem.name
                \.

  = partial :"blocks/lu/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/enroll"
  = partial :"blocks/lu/enrollments"
  = partial :"blocks/lu/subscribe"
  = partial :"blocks/go_to_group"


= javascript_include_tag "leaflet"

:javascript

  var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'
  }),
  latlng = L.latLng(-19.6404366, 23.5888797);

  var map = L.map('eventmap-desk', {center: latlng, zoom: 7, scrollWheelZoom: false, layers: [tiles]});

  var eventIcon = L.icon({
    iconUrl: '/images/marker-events.png',
    iconRetinaUrl: '/images/marker-events@2x.png',
    shadowUrl: '/images/marker-shadow.png',
    shadowRetinaUrl: '/images/marker-shadow@2x.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [13, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [13, 41],  // the same for the shadow
    popupAnchor:  [1, -5] // point from which the popup should open relative to the iconAnchor
  });

  L.marker([-19.6404366, 23.5888797], {icon: eventIcon}).bindPopup('<h2 class="node-title"><a href="#">Join us to the Okanvango Delta</a></h2><div class="field field-name-field-event-date"><span class="date-display-single">21 September, 2015 - 5:57</span></div>').addTo(map);
