---
title: Getting started
body_class: not-front logged-in page-getting-started no-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block.hero
    =image_tag("/photos/group_public_large.jpg")
    %p
      %span Welcome on Your brand community. Here you can read how things work.


#content.l-main-column
  .block.main-content
    %i.block-icon.icon-bg-default.icon-info
    %h1#page-title.block-title
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.page{:href => "#"} Page
          by
          %a{:href => "./profile.html"}
            = lorem.name
          %span.submitted-date November 25th 2014 - 8:29

        .field-name-body
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %blockquote
            %p
              = lorem.sentence
          %p
            = lorem.paragraph
            %a{:href => "http://www.greenpeace.org"} go to website
          %p
            = lorem.paragraph
          %img.field-type-image{:alt => "Description of the image.", :src => "http://placeimg.com/620/320/nature/6"}/
          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %p
            = lorem.paragraph
          %ol
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
