---
title: View all members of this group
body_class: not-front logged-in page-manage-group-members l-has-sidebar
direct_parent:
  -
    name: "Groups"
    url: "./../lu/groups.html"
  -
    name: "Emlyn Garden Local Group"
    url: "./group-home-enrolled.html"
user_role: lu
tables: yes
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current

    %i.block-icon.icon-bg-default.icon-users
    %h1.block-title
      = current_page.data.title

    .content

      .view-header
        %form
          .action-bar
            .action-bar-item.resultstats 45 Members

            .action-bar-item.sorting
              %label Sort by
              %a.button.sorting{"data-dropdown" => "#sort-results", :href => "#", :title => "Click to show options"}
                %span Name
              #sort-results.dropdown.dropdown-tip.dropdown-relative
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Name
                  %li
                    %a{:href => "#"} Username
                  %li
                    %a{:href => "#"} City
                  %li
                    %a{:href => "#"} Status
                  %li
                    %a{:href => "#"} Member since
                  %li
                    %a{:href => "#"} Last login

            .action-bar-item.results-page
              %label Results per page
              %a.button.results-page{"data-dropdown" => "#page-results", :href => "#", :title => "Click to show options"}
                %span 20
              #page-results.dropdown.dropdown-tip.dropdown-relative
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} 20
                  %li
                    %a{:href => "#"} 50
                  %li
                    %a{:href => "#"} 100

      .view-search-results
        .view-content
          %table.tablesaw.tablesaw{"data-tablesaw-mode" => "columntoggle", "data-tablesaw-sortable" => ""}
            %thead
              %tr
                %th.views-field-avatar{"data-tablesaw-priority" => "persist"}
                %th.views-field-name{"data-tablesaw-priority" => "persist", "data-tablesaw-sortable-col" => "", "data-tablesaw-sortable-default-col" => ""} Name
                %th.views-field-username{"data-tablesaw-sortable-col" => "", "data-tablesaw-priority" => "1"} Username
                %th{"data-tablesaw-sortable-col" => "", "data-tablesaw-priority" => "2"} City
                %th{"data-tablesaw-sortable-col" => "", "data-sortable-numeric" => "", "data-tablesaw-priority" => "3"} Status
                %th{"data-tablesaw-sortable-col" => "", "data-tablesaw-priority" => "4"} Member since
                %th{"data-tablesaw-sortable-col" => "", "data-tablesaw-priority" => "5"} Last login

            %tbody
              - 20.times do |num|
                %tr
                  %td
                    %img.lazyload{:alt => "Name of the author.", :src => "/images/blank.png", "data-src" => "/photos/75/people3.jpg"}/
                    %noscript
                      %img{:alt => "Name of the author.", :src => "/photos/75/people3.jpg"}/
                  %td
                    = lorem.name
                  %td
                    = lorem.name.downcase.tr(' ', '_')
                  %td
                    = lorem.word
                  %td
                    active
                  %td
                    = lorem.date
                  %td
                    = lorem.date
          %ul.pager
            %li.pager-current
              1
            %li.pager-item
              %a{:href => "#"} 2
            %li.pager-item
              %a{:href => "#"} 3
            %li.pager-item
              %a{:href => "#"} 4
            %li.pager-item
              %a{:href => "#"} 5
            %li.pager-item
              %a{:href => "#"} 6
            %li.pager-ellipsis ...
            %li.pager-item
              %a{:href => "#"} 10
            %li.pager-next
              %a{:href => "#"} next ›
            %li.pager-last
              %a{:href => "#"} last »

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/belongstogroup"
  = partial :"blocks/lu/block-group-add-members"

  .block#block-filter-members
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title
      Filter
    .content
      %form
        = partial :"blocks/lu/manage-group-filters"
        = partial :"blocks/search_filters/form-action"
