---
title: Beat(s Against) Coal
body_class: not-front logged-in page-group-home l-two-column
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#block-group-info"
    label: "Group info"
    icon: "info"
  -
    id: "#content"
    label: "Updates"
    icon: "news"
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block
    =image_tag("/photos/group_public_large.jpg")
    %p
      %span Beat(s Against) Coal
    %a.button.btn-primary.btn-l.modal-inline{:href => "#confirm-group-subscription"} Join this group

.l-main-column
  = partial :"blocks/upcoming_events"
  = partial :"blocks/updates"

%aside.l-sidebar.sidebar
  = partial :"blocks/group-info"
  = partial :"blocks/group-members"

= partial :"blocks/lu/confirm-group-subscription"
