---
title: Emlyn Garden Local Group
body_class: not-front logged-in page-group-home l-two-column
direct_parent:
  -
    name: "Groups"
    url: "groups.html"
user_role: lu
group: home
comments: yes
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-users
    = current_page.data.title
  = partial :"blocks/group_info_local"
  = partial :"blocks/local_group_upcoming_events"

%aside.l-sidebar.sidebar
  = partial :"blocks/group-members"
  = partial :"blocks/group_local_updates"


= partial :"blocks/lu/confirm-group-subscription"
