---
title: Group members
body_class: not-front logged-in page-group-members l-has-sidebar
user_role: lu
search_page: members
design_status: Work in progress
action_menu:
  -
    id: "#content"
    label: "Group members"
    icon: "users"
  -
    id: "#block-filter-members"
    label: "Filters members"
    icon: "adjust"
---


= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current

    %i.block-icon.icon-bg-group.icon-users
    %h1.block-title#page-title
      = current_page.data.title

    .content
      = partial :"teasers/member"
      = partial :"teasers/member_2"
      = partial :"teasers/member_3"
      = partial :"teasers/member_4"
      = partial :"teasers/member"
      = partial :"teasers/member_2"
      = partial :"teasers/member_3"
      = partial :"teasers/member_4"
      = partial :"teasers/member"
      = partial :"teasers/member_2"
      = partial :"teasers/member_3"
      = partial :"teasers/member_4"
      = partial :"teasers/member"
      = partial :"teasers/member_2"
      = partial :"teasers/member_3"
      = partial :"teasers/member_4"
      .align-center
        %a.button{:href => "#"} show some more


%aside.l-sidebar.sidebar
  .block#block-filter-members
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/location_range"
        = partial :"blocks/search_filters/member_skills"
        = partial :"blocks/search_filters/profession"
        = partial :"blocks/search_filters/schools"
        = partial :"blocks/search_filters/member_groups"
        = partial :"blocks/search_filters/member_roles"
        = partial :"blocks/search_filters/form-action"

