---
title: Ideas
body_class: not-front logged-in page-ideas l-has-sidebar
user_role: lu
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "Ideas"
    icon: "idea"
  -
    id: "#block-find-ideas"
    label: "Find ideas"
    icon: "search"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current
    = partial :"blocks/lu/add-content"
    %i.block-icon.icon-bg-news-media.icon-idea
    %h1#page-title.block-title
      = current_page.data.title
    .content
      - 10.times do |num|
        = partial :"teasers/idea"

%aside.l-sidebar.sidebar
  = partial :"blocks/find_ideas"
