---
title: Home
body_class: front logged-in page-home l-two-column
script: leaflet
user_role: lu
front: frontpage
design_status: Work in progress
action_menu:
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#content"
    label: "Updates"
    icon: "news"
  -
    id: "#block-comments"
    label: "Shoutbox"
    icon: "comment"
---

= partial :"blocks/breadcrumbs"

= partial :"blocks/slider_single"

.l-main-column
  = partial :"blocks/upcoming_events"
  = partial :"blocks/updates"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/comments"
  = partial :"blocks/random-image"
