---
title: Materials
body_class: not-front logged-in page-materials no-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current
    %i.block-icon.icon-bg-news-media.icon-material
    %h1#page-title.block-title
      = current_page.data.title
    .content
      %table.tablesaw{"data-tablesaw-mode" => "swipe"}
        %thead
          %tr
            %th.views-field-image{"data-tablesaw-priority" => "persist"}
            %th.views-field-title{"data-tablesaw-priority" => "persist"} Title
            %th Amount
            %th Condition
            %th Description

        %tbody
          - 20.times do |num|
            %tr
              %td
                %img.lazyload{:alt => "Example of image.", :src => "/photos/blank.png", "data-src" => "/photos/75/nature1.jpg" }
              %td
                = lorem.words 2
              %td
                = rand(100)
              %td
                As good as new
              %td
                = lorem.sentence

      .align-center
        %a.button{:href => "#"} show some more
