---
title: My events
body_class: not-front logged-in page-profile l-has-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-user.icon-users
    %h1#page-title.block-title
      = current_page.data.title

    .content

      .view-header
        %h2.section-heading  Upcoming events

      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-with-image"

      .view-header
        %h2.section-heading  Past events

      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-no-image"
      = partial :"teasers/event-with-location"
      = partial :"teasers/event-with-image"
