---
title: My groups
body_class: not-front logged-in page-profile l-has-sidebar
user_role: lu
design_status: Work in progress
---

= partial :"blocks/breadcrumbs"


#content.l-main-column
  .block
    %i.block-icon.icon-bg-user.icon-users
    %h1#page-title.block-title
      = current_page.data.title

    .content

      = partial :"teasers/group-no-image"
      = partial :"teasers/group-with-image"
      = partial :"teasers/group-no-image"
      = partial :"teasers/group-with-image"
