---
title: My messages - Inbox
body_class: not-front logged-in page-type-message l-two-column
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#content"
    label: "Inbox"
    icon: "mail"
  -
    id: "#block-compose-message"
    label: "New message"
    icon: "pencil"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.main-content.current
    %i.block-icon.icon-bg-user.icon-mail
    %h1.block-title My private messages
    .content
      %section.notifications-section.messages
        %article.notification
          %a.media.popup-ajax{:href => "./random-private-message2.html"}
            .media-figure.avatar-holder
              %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
              %noscript
                %img{:alt => "Dora Tilman", :src => "/photos/60/people1.jpg", :srcset => "/photos/60/people1.jpg 1x, /photos/120/people1.jpg 2x"}/
            .media-body.notifications-body
              %strong
                = lorem.name
              %br
                = lorem.sentence
              .notifications-footer
                %span.timestamp
                  1 day ago

        %article.notification
          %a.media.popup-ajax{:href => "./random-private-message.html"}
            .media-figure.avatar-holder
              %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              %noscript
                %img{:alt => "Dora Tilman", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
            .media-body.notifications-body
              %strong
                = lorem.name
              %br
                = lorem.sentence
              .notifications-footer
                %span.timestamp
                  2 days ago

        %article.notification
          %a.media.popup-ajax{:href => "./random-private-message.html"}
            .media-figure.avatar-holder
              %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              %noscript
                %img{:alt => "Dora Tilman", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
            .media-body.notifications-body
              %strong
                = lorem.name
              %br
                = lorem.sentence
              .notifications-footer
                %span.timestamp
                  1 week ago

        %article.notification
          %a.media.popup-ajax{:href => "./random-private-message.html"}
            .media-figure.avatar-holder
              %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
              %noscript
                %img{:alt => "Dora Tilman", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
            .media-body.notifications-body
              %strong
                = lorem.name
              %br
                = lorem.sentence
              .notifications-footer
                %span.timestamp
                  5 feb

        %article.notification
          %a.media.popup-ajax{:href => "./random-private-message.html"}
            .media-figure.avatar-holder
              %img.lazyload{:alt => "Dora Tilman", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              %noscript
                %img{:alt => "Dora Tilman", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
            .media-body.notifications-body
              %strong
                = lorem.name
              %br
                = lorem.sentence
              .notifications-footer
                %span.timestamp
                  1 feb

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/new_message"
