---
title: My profile
body_class: not-front logged-in page-profile l-two-column
profile: home
access: mine
user_role: lu
action_menu:
  -
    id: "#block-user-profile"
    label: "My profile"
    icon: "user"
  -
    id: "#block-comments"
    label: "My shoutbox"
    icon: "chat"
  -
    id: "#block-user-events"
    label: "My events"
    icon: "event"
  -
    id: "#block-user-groups"
    label: "My groups"
    icon: "users"
  -
    id: "#block-friends"
    label: "My friends"
    icon: "users"
  -
    id: "#block-skills"
    label: "My skills"
    icon: "skills"
  -
    id: "#block-user-subscriptions"
    label: "My subscriptions"
    icon: "subscription"
  -
    id: "#block-user-activity"
    label: "My activity log"
    icon: "clock"
---

= partial :"blocks/breadcrumbs"

- data.members.member_one.each do |item|

  .l-main-column
    %h1.group-heading.only-mobile
      %i.icon-user
      %span #{item.first_name} #{item.last_name}
    #block-user-profile.block.block-profile.current
      .action-bar
        .action-bar-item.edit-content
          %button.button{"data-dropdown" => "#edit-profile", :href => "#"}
            %span Edit
          #edit-profile.dropdown.dropdown-relative.dropdown-tip.dropdown-anchor-right
            %ul.dropdown-menu
              %li
                %a{:href => "./edit-user-profile.html"} Edit profile
              %li
                %a{:href => "./edit-user-account.html"} Edit account settings

      %i.block-icon.icon-bg-user.icon-user
      %h2.block-title
        My profile

      .content

        .field-name-user-image
          %img.lazyload{:alt => "John Doe Claus", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/avatar210.jpg"}/
          %noscript
            %img{:src => "/photos/avatar210.jpg", :alt => "John Doe Claus"}/

        .field.field-name-user-name
          = item.first_name
          = item.last_name
          %span.username
            (#{item.username})

        .field.field-name-body
          .field-label.element-hidden About me:
          .field-item
            = item.about

        .clear

        .field.field-name-field-social-media.field-inline-block
          .field-label Social media:
          .field-item
            %a.social-icon.twitter{:href => "#{item.social_twitter}", :target => "blank"}
              %span.element-hidden twitter
            %a.social-icon.facebook{:href => "#{item.social_facebook}", :target => "blank"}
              %span.element-hidden facebook
            %a.social-icon.linkedin{:href => "#{item.social_linkedin}", :target => "blank"}
              %span.element-hidden linkedin

        .field.field-name-field-skype.field-inline-block
          .field-label Skype:
          .field-item
            %i.icon-skype
            %span
              = item.skype

        .field.field-name-field-birthday.field-inline-block
          .field-label Date of birth:
          .field-item October 25th, 1980

        .field.field-name-field-mail.field-inline-block
          .field-label Email:
          .field-item
            = item.email

        .field.field-name-field-telephone.field-inline-block
          .field-label Phone:
          .field-item
            = item.phone_mobile

        .field.field-name-field-location.field-inline-block
          .field-label Address:
          .field-item  #{item.address}, #{item.city}

        .field.field-name-field-profession.field-inline-block
          .field-label Profession:
          .field-item #{item.profession} at #{item.employer}

    = partial :"blocks/lu/user-events"
    = partial :"blocks/lu/user-groups"

    #block-skills.block.lazyload{"data-expand" => "-40"}
      .action-bar
        .action-bar-item.edit-content
          %a.button{:href => "./edit-user-profile.html#section-skills", :title => "Edit skills"} Edit

      %i.block-icon.icon-bg-user.icon-skills
      %h2.block-title
        Skills

      .content
        .field.field-name-field-education
          .field-label Education:
          .field-item
            Cras porttitor convallis porta. Praesent nibh sapien, tempus vitae lacus ut, convallis molestie odio. Sed porttitor turpis sed velit feugiat, at consequat dolor mattis. Aenean bibendum dolor id orci facilisis, non vestibulum odio posuere. Vivamus lobortis nulla in neque ullamcorper mattis.

        .field.field-name-field-skills-general
          .field-label General skills
          .field-item
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Research
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Oceans
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Storytelling
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Blogging
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Painting
            = succeed "," do
              %a.tag{:href => "./search-members.html"} French
            = succeed "," do
              %a.tag{:href => "./search-members.html"} Custome design
            %a.tag{:href => "./search-members.html"} Fundraising
        .field.field-name-field-skills-campaigning
          .field-label Campaigning skills
          .field-item
            = succeed "," do
              %a.tag{:href => "./search-members.html"} NVDA general
            = succeed "," do
              %a.tag{:href => "./search-members.html"} NVDA climbing
            = succeed "," do
              %a.tag{:href => "./search-members.html"} NVDA diving
            %a.tag{:href => "./search-members.html"} NVDA sailing


    = partial :"blocks/lu/subscriptions"

  %aside.l-sidebar.sidebar
    = partial :"blocks/lu/comments"
    = partial :"blocks/lu/my-friends"
    = partial :"blocks/lu/user-activity"
