---
title: My profile
body_class: not-front logged-in page-profile l-two-column
profile: home
access: mine
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#block-user-profile"
    label: "My profile"
    icon: "user"
  -
    id: "#block-comments"
    label: "My shoutbox"
    icon: "chat"
  -
    id: "#block-user-events"
    label: "My events"
    icon: "event"
  -
    id: "#block-user-groups"
    label: "My groups"
    icon: "users"
  -
    id: "#block-friends"
    label: "My friends"
    icon: "users"
  -
    id: "#block-skills"
    label: "My skills"
    icon: "skills"
  -
    id: "#block-user-subscriptions"
    label: "My subscriptions"
    icon: "subscription"
  -
    id: "#block-user-activity"
    label: "My activity log"
    icon: "clock"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-user
    %span Grace O'Flynn
  #block-user-profile.block.block-profile.current
    .action-bar
      .action-bar-item.edit-content
        %button.button{"data-dropdown" => "#edit-profile", :href => "#"}
          %span Edit
        #edit-profile.dropdown.dropdown-relative.dropdown-tip.dropdown-anchor-right
          %ul.dropdown-menu
            %li
              %a{:href => "./edit-user-profile-full.html"} Edit profile
            %li
              %a{:href => "./edit-user-account.html"} Edit account settings

    %i.block-icon.icon-bg-user.icon-user
    %h2.block-title
      My profile

    .content

      .field-name-user-image
        %img.lazyload{:alt => "Grace O'Flynn", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/grace210.jpg"}/
        %noscript
          %img{:src => "/photos/grace210.jpg", :alt => "Grace O'Flynn"}/

      .field.field-name-user-name
        Grace O'Flynn
        %span.username (grace_oflynn)

      .field.field-name-body
        .field-label.element-hidden About me:
        .field-item
          Hello, I'm Grace. I work in bike repair shop in the west side of London. Initially I studied law but it wasn't really for me. I also run a small community Garden. I'm not sure what else to write here, but well, nice to meet you all :)

      .clear

      .field.field-name-field-social-media.field-inline-block
        .field-label Social media:
        .field-item
          %a.social-icon.twitter{:href => "#", :target => "blank"}
            %span.element-hidden twitter
          %a.social-icon.facebook{:href => "#", :target => "blank"}

      .field.field-name-field-skype.field-inline-block
        .field-label Skype:
        .field-item
          %i.icon-skype
          %span grace_oflynn

      .field.field-name-field-birthday.field-inline-block
        .field-label Date of birth:
        .field-item October 25th, 1980

      .field.field-name-field-mail.field-inline-block
        .field-label Email:
        .field-item grace@riseup.net

      .field.field-name-field-telephone.field-inline-block
        .field-label Phone:
        .field-item 065 983 8973

      .field.field-name-field-location.field-inline-block
        .field-label Address:
        .field-item Uxbridge Road, London, UK

      .field.field-name-field-profession.field-inline-block
        .field-label Profession:
        .field-item Bike doctor!

  = partial :"blocks/lu/user-events-empty"
  = partial :"blocks/lu/user-groups-empty"

  #block-skills.block.lazyload{"data-expand" => "-40"}
    .action-bar
      .action-bar-item.edit-content
        %a.button{:href => "./edit-user-profile.html#section-skills", :title => "Edit skills"} Edit

    %i.block-icon.icon-bg-user.icon-skills
    %h2.block-title
      Skills

    .content
      .field.field-name-field-education
        .field-label Education:
        .field-item
          Environmental Law Master in University of London

      .field.field-name-field-skills-general
        .field-label General skills
        .field-item
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Bike
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Gardening

  = partial :"blocks/lu/subscription-empty"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/comments-empty"
  = partial :"blocks/lu/my-friends-empty"
  = partial :"blocks/lu/user-activity-gracestart"
