---
title: News article example
body_class: not-front logged-in page-type-news l-has-sidebar node-full
direct_parent:
  -
    name: "News"
    url: "news.html"
user_role: lu
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "News article"
    icon: "news"
  -
    id: "#block-comments"
    label: "Comments"
    icon: "comment"
  -
    id: "#block-go-to-group"
    label: "Go to group"
    icon: "users"
  -
    id: "#block-get-involved"
    label: "Get involved"
    icon: "plus"
  -
    id: "#block-subscribe"
    label: "Updates"
    icon: "eye"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  .block.main-content#content.current
    %i.block-icon.icon-bg-news-media.icon-news
    %h1#page-title.block-title
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.news{:href => "./news.html"} News
          by
          %a{:href => "./profile.html"}
            = lorem.name
          -
          %span.submitted-date June 5th 2014 - 11:29

          %a.comments-shortcut{:href => "#block-comments", "data-scroll" => ""}
            %i.icon-comment
            10 comments

        = partial :"images/article-image"

        .field-name-body
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %blockquote
            %p
              = lorem.sentence
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %img.field-type-image.pull-right{:alt => "Description of the image.", :src => "http://placeimg.com/320/320/nature/9/image"}
          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %p
            = lorem.paragraph
          %ol
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %img.field-type-image.pull-left{:alt => "Example of image.", :src => "http://placeimg.com/100/100/nature/5/image"}/
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img.lazyload{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
            %noscript
              %img{:alt => "Name of the author.", :src => "/photos/75/people5.jpg"}/
          .submitted-info
            %div
              %a{:href => "./news.html"} News
              by
              %a{:href => "./profile.html"}
                = lorem.name
            .submitted-all-reference
              %a{:href => "#"}
                All News by
                = lorem.name
                \.

  = partial :"blocks/lu/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/lu/subscribe"
