---
title: News article example
body_class: not-front logged-in page-type-news l-has-sidebar node-full
direct_parent:
  -
    name: "News"
    url: "news.html"
user_role: lu
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "News article"
    icon: "news"
  -
    id: "#block-comments"
    label: "Comments"
    icon: "comment"
  -
    id: "#block-go-to-group"
    label: "Go to group"
    icon: "users"
  -
    id: "#block-get-involved"
    label: "Get involved"
    icon: "plus"
  -
    id: "#block-subscribe"
    label: "Updates"
    icon: "eye"
---

= partial :"blocks/breadcrumbs"


- data.news.with_image.each do |item|

  .l-main-column
    .block.main-content#content.current.editable
      .action-bar
        .action-bar-item.edit-content
          %a.button{:href => "./news-article-edit.html", :title => "Edit news article"} Edit

      %i.block-icon.icon-bg-news-media.icon-news
      %h1#page-title.block-title
        = item.title
      .content
        %article.view-mode-full
          .submitted
            %a.type.news{:href => "./news.html"} News
            by
            = succeed " -" do
              %a{:href => "./profile.html"}
                = item.author
            %span.submitted-date
              = item.datetime

            %a.comments-shortcut{:href => "#block-comments", "data-scroll" => ""}
              %i.icon-comment
              = item.comment_amount
              comments

          = partial :"images/article-image"

          .field-name-body
            = item.full_text

          .tags
            Tags:
            %a.tag
              = item.tags

          .submitted.submitted-extended
            .submitted-image
              %img.lazyload{:alt => "#{item.author}", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
              %noscript
                %img{:alt => "#{item.author}", :src => "/photos/75/people5.jpg"}/
            .submitted-info
              %div
                %a{:href => "./news.html"} News
                by
                %a{:href => "./profile.html"}
                  = item.author
              .submitted-all-reference
                %a{:href => "./news.html"}<
                  All News by #{item.author}.


    = partial :"blocks/lu/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/lu/subscribe"
