---
title: News
body_class: not-front logged-in page-news l-has-sidebar
user_role: lu
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "News"
    icon: "news"
  -
    id: "#block-find-news"
    label: "Find news"
    icon: "search"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current

    = partial :"blocks/lu/add-content"

    %i.block-icon.icon-bg-news-media.icon-news
    %h1#page-title.block-title
      = current_page.data.title
    .content
      = partial :"teasers/news-no-image"
      = partial :"teasers/news-with-image"
      = partial :"teasers/news-no-image"
      = partial :"teasers/news-with-image"

%aside.l-sidebar.sidebar
  = partial :"blocks/find_news"
