---
title: Rose Turner
body_class: not-front logged-in page-profile l-two-column
profile: home
access: other
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#block-user-profile"
    label: "Profile"
    icon: "user"
  -
    id: "#block-comments"
    label: "Shoutbox"
    icon: "chat"
  -
    id: "#block-friends"
    label: "Friends"
    icon: "users"
  -
    id: "#block-user-events"
    label: "Events"
    icon: "event"
  -
    id: "#block-skills"
    label: "Skills"
    icon: "skills"
  -
    id: "#block-user-groups"
    label: "Groups"
    icon: "users"
  -
    id: "#block-user-activity"
    label: "Activity log"
    icon: "clock"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-user
    Roser Turner
  #block-user-profile.block.current
    %i.block-icon.icon-bg-user.icon-user
    %h1#page-title.block-title
      Profile

    .content

      .field-name-user-image
        %img.lazyload{:alt => "Rose Turner", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/rose.jpg"}/
        %noscript
          %img{:src => "/photos/rose.jpg", :alt => "Rose Turner"}/

      .field.field-name-user-name
        Rose Turner
        %span.username (rose_turner)

      .field.field-name-body
        .field-label.element-hidden About me:
        .field-item
          Hello I'm Rose Turner from Manchester. I'm originally from London. My master in Environmental Law sparked my passion for the environment.
          Now I want nothing more than do my fair share to save the planet. Let's campaign hard and party harder!
      .clear

      .field.field-name-field-social-media.field-inline-block
        .field-label Social media:
        .field-item
          %a.social-icon.twitter{:href => "#", :target => "blank"}
            %span.element-hidden twitter
          %a.social-icon.facebook{:href => "#", :target => "blank"}
            %span.element-hidden facebook

      .field.field-name-field-skype.field-inline-block
        .field-label Skype:
        .field-item
          %i.icon-skype
          %span rosetta_turner

      .field.field-name-field-mail.field-inline-block
        .field-label Email:
        .field-item rose.turner@casperlaw.org

      .field.field-name-field-telephone.field-inline-block
        .field-label Phone:
        .field-item 065 983 8973

      .field.field-name-field-location.field-inline-block
        .field-label Address:
        .field-item MG Road, Manchester, UK

      .field.field-name-field-profession.field-inline-block
        .field-label Profession:
        .field-item Lawyer at Casper & Co.

      .field.field-name-send-message
        %p
          %a.modal-inline.button.btn-primary{:href => "#send-private-message"} Send a private message

  #block-skills.block
    %i.block-icon.icon-bg-user.icon-skills
    %h2.block-title
      Skills

    .content

      .field.field-name-field-education
        .field-label Education:
        .field-item
          Environmental Law and Sustainability Masters (LLM), University of London
      .field.field-name-field-skills-general
        .field-label General skills
        .field-item
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Research
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Oceans
          %a.tag{:href => "./search-members.html"} Law

      .field.field-name-field-skills-campaigning
        .field-label Campaigning skills
        .field-item
          %a.tag{:href => "./search-members.html"} NVDA general

  = partial :"blocks/lu/user-events"
  = partial :"blocks/lu/user-groups-roseturner"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/my-friends-roseturner"
  = partial :"blocks/lu/comments-roseturner"
  = partial :"blocks/lu/user-activity"

= partial :"blocks/lu/new_message_from_profile"
