---
title: Santa Doe Claus
body_class: not-front logged-in page-profile l-two-column
profile: home
access: other
user_role: lu
design_status: Work in progress
action_menu:
  -
    id: "#block-user-profile"
    label: "Profile"
    icon: "user"
  -
    id: "#block-comments"
    label: "Shoutbox"
    icon: "chat"
  -
    id: "#block-friends"
    label: "Friends"
    icon: "users"
  -
    id: "#block-user-events"
    label: "Events"
    icon: "event"
  -
    id: "#block-skills"
    label: "Skills"
    icon: "skills"
  -
    id: "#block-user-groups"
    label: "Groups"
    icon: "users"
  -
    id: "#block-user-activity"
    label: "Activity log"
    icon: "clock"
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-user
    Santa Doe Claus
  #block-user-profile.block.current
    %i.block-icon.icon-bg-user.icon-user
    %h1#page-title.block-title
      Profile

    .content

      .field-name-user-image
        %img.lazyload{:alt => "Grace O'Flynn", :src => "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==", "data-srcset" => "/photos/avatar210-2.jpg"}/
        %noscript
          %img{:src => "/photos/avatar210-2.jpg", :alt => "Santa Doe Claus"}/

      .field.field-name-user-name
        Santa Doe Claus
        %span.username (santa_claus)

      .field.field-name-body
        .field-label.element-hidden About me:
        .field-item
          In et sagittis turpis, quis malesuada urna! Duis tempus pellentesque eros, eget bibendum quam rhoncus posuere. Duis commodo lobortis elit; eu condimentum ante feugiat ut. In dictum risus sed tempor rhoncus. Pellentesque tellus risus, sodales ut eleifend vel, porta sit amet nisi. Praesent vestibulum vitae nibh nec ultricies. Vivamus semper, ipsum ut eleifend eleifend, dui dui tempor neque, sit amet gravida ligula sapien et est.

      .clear

      .field.field-name-field-social-media.field-inline-block
        .field-label Social media:
        .field-item
          %a.social-icon.twitter{:href => "#", :target => "blank"}
            %span.element-hidden twitter
          %a.social-icon.facebook{:href => "#", :target => "blank"}
            %span.element-hidden facebook
          %a.social-icon.googleplus{:href => "#", :target => "blank"}
            %span.element-hidden googleplus
          %a.social-icon.linkedin{:href => "#", :target => "blank"}
            %span.element-hidden linkedin
          %a.social-icon.pinterest{:href => "#", :target => "blank"}
            %span.element-hidden pinterest
          %a.social-icon.vk{:href => "#", :target => "blank"}
            %span.element-hidden vkontakte

      .field.field-name-field-skype.field-inline-block
        .field-label Skype:
        .field-item
          %i.icon-skype
          %span santa_doe_north_pole

      .field.field-name-field-mail.field-inline-block
        .field-label Email:
        .field-item santa_doe_claus@greenpeace.org

      .field.field-name-field-telephone.field-inline-block
        .field-label Phone:
        .field-item 065 983 8973

      .field.field-name-field-location.field-inline-block
        .field-label Address:
        .field-item Ottho Heldringstraat 5, Amsterdam, The Netherlands

      .field.field-name-field-profession.field-inline-block
        .field-label Profession:
        .field-item Accountmanager at Greenpeace International

      .field.field-name-send-message
        %p
          %a.modal-inline.button.btn-primary{:href => "#send-private-message"} Send a private message

  #block-skills.block
    %i.block-icon.icon-bg-user.icon-skills
    %h2.block-title
      Skills

    .content

      .field.field-name-field-education
        .field-label Education:
        .field-item
          Cras porttitor convallis porta. Praesent nibh sapien, tempus vitae lacus ut, convallis molestie odio. Sed porttitor turpis sed velit feugiat, at consequat dolor mattis. Aenean bibendum dolor id orci facilisis, non vestibulum odio posuere. Vivamus lobortis nulla in neque ullamcorper mattis.

      .field.field-name-field-skills-general
        .field-label General skills
        .field-item
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Research
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Oceans
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Storytelling
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Blogging
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Painting
          = succeed "," do
            %a.tag{:href => "./search-members.html"} French
          = succeed "," do
            %a.tag{:href => "./search-members.html"} Custome design
          %a.tag{:href => "./search-members.html"} Fundraising
      .field.field-name-field-skills-campaigning
        .field-label Campaigning skills
        .field-item
          = succeed "," do
            %a.tag{:href => "./search-members.html"} NVDA general
          = succeed "," do
            %a.tag{:href => "./search-members.html"} NVDA climbing
          = succeed "," do
            %a.tag{:href => "./search-members.html"} NVDA diving
          %a.tag{:href => "./search-members.html"} NVDA sailing

  = partial :"blocks/lu/user-events"
  = partial :"blocks/lu/user-groups"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/my-friends"
  = partial :"blocks/lu/comments"
  = partial :"blocks/lu/user-activity"

= partial :"blocks/lu/new_message_from_profile"
