---
title: Manage friends
body_class: not-front logged-in page-manage-friends l-has-sidebar
profile: friends
access: mine
direct_parent:
  -
    name: "Grace O'Flynn"
    url: "./../lu/my-profile.html"
user_role: lu
---

= partial :"blocks/breadcrumbs"

.l-main-column
  %h1.group-heading.only-mobile
    %i.icon-user
      Grace O'Flynn
  #content.block.current
    %i.block-icon.icon-bg-user.icon-users
    %h2.block-title{"data-amtitle" => "Manage friends"}
      Manage friends

    .content

      .view-header
        %form
          .action-bar
            .action-bar-item.resultstats 3 Friends

            .action-bar-item.sorting
              %label Sort by
              %a.button.btn-s.sorting{"data-dropdown" => "#sort-results", :href => "#", :title => "Click to show options"}
                %span Name
              #sort-results.dropdown.dropdown-tip.dropdown-relative
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Name
                  %li
                    %a{:href => "#"} Username
                  %li
                    %a{:href => "#"} Location
                  %li
                    %a{:href => "#"} Status

            .action-bar-item.results-page
              %label Results per page
              %a.button.btn-s.results-page{"data-dropdown" => "#page-results", :href => "#", :title => "Click to show options"}
                %span 20
              #page-results.dropdown.dropdown-tip.dropdown-relative
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} 20
                  %li
                    %a{:href => "#"} 50
                  %li
                    %a{:href => "#"} 100

      .view-search-results
        .view-content
          = partial :"teasers/member_alen"
          = partial :"teasers/member_rose"
          = partial :"teasers/member_rachael"
          %ul.pager.pager-load-more
            %li
              %a{:href => "#"} Show some more

%aside.l-sidebar.sidebar

  #block-find-friends.block
    %i.block-icon.icon-bg-user.icon-user-add
    %h2.block-title{"data-amtitle" => "Add friends"}
      Add new friends
    .content
      .form-item
        .form-description
          Start typing the user's first or last name.
        %input.form-text.form-autocomplete#tagsinput{:type => "text", :value => "", :placeholder => "Select some members"}
        .autocomplete#tagsautocomplete
          %ul
            - 20.times do |num|
              %li
                = lorem.name

      .form-actions
        %input.button.btn-primary{:type => "submit", :value => "Send friend request"}
