---
title: Search members
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: members
listview: search-members-listview.html
teaserview: search-members.html
view: list
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current
    %i.block-icon.icon-bg-user.icon-search
    %h1.block-title{"data-amtitle" => "Search members"}
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          %table.tablesaw{"data-tablesaw-mode" => "swipe", "data-tablesaw-sortable" => ""}
            %thead
              %tr
                %th.views-field-avatar{"data-tablesaw-priority" => "persist"}
                %th.views-field-name{"data-tablesaw-priority" => "1", "data-tablesaw-sortable-col" => ""} Name
                %th.views-field-username{"data-tablesaw-priority" => "2", "data-tablesaw-sortable-col" => "#"} Username
                %th{"data-tablesaw-priority" => "3", "data-tablesaw-sortable-col" => ""} Location
                %th{"data-tablesaw-priority" => "4", "data-tablesaw-sortable-col" => ""} Date joined
                %th{"data-tablesaw-priority" => "5", "data-tablesaw-sortable-col" => "", "data-tablesaw-sortable-default-col" => "#"} Relevance
                %th{"data-tablesaw-priority" => "6"} Member roles
                %th{"data-tablesaw-priority" => "6"} Proximity to me
                %th{"data-tablesaw-priority" => "6"} Profession
                %th{"data-tablesaw-priority" => "6"} Language preferences
                %th{"data-tablesaw-priority" => "6"} School
                %th{"data-tablesaw-priority" => "6"} Skills

            %tbody
              - 20.times do |num|
                %tr
                  %td
                    %img{:alt => "Example of image.", :src => "/photos/75/people1.jpg"}
                  %td
                    = lorem.name
                  %td
                    = lorem.name.downcase.tr(' ', '_')
                  %td
                    = lorem.words 3
                  %td
                    = lorem.date
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.date
          .align-center
            %a.button{:href => "#"} show some more


%aside.l-sidebar.sidebar
  .block#block-filter
    %i.block-icon.icon-bg-user.icon-adjust
    %h2.block-title{"data-amtitle" => "Filter"} Filter
    .content
      %form
        = partial :"blocks/search_filters/location_range"
        = partial :"blocks/search_filters/member_skills"
        = partial :"blocks/search_filters/profession"
        = partial :"blocks/search_filters/schools"
        = partial :"blocks/search_filters/member_groups"
        = partial :"blocks/search_filters/member_roles"
        = partial :"blocks/search_filters/form-action"

