---
title: Search
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: all
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
      = partial :"nav/search-tabs"
      .resultstats 56 results
      = partial :"nav/search-actions"

      .view-search-results
        .view-content

          %h2.section-heading
            %a{:href => "search-newsmedia.html"} News and media
          = partial :"teasers/photo"
          = partial :"teasers/video"
          = partial :"teasers/document"
          = partial :"teasers/page"
          = partial :"teasers/faq"
          .align-center
            %a.button{:href => "search-newsmedia.html"} Find more news &amp; media

          %h2.section-heading
            %a{:href => "search-events.html"} Events
          = partial :"teasers/event-with-location"
          = partial :"teasers/event-with-image"
          = partial :"teasers/event-no-image"
          .align-center
            %a.button{:href => "search-events.html"} Find more events

          %h2.section-heading
            %a{:href => "search-groups.html"} Groups
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"
          .align-center
            %a.button{:href => "search-groups.html"} Find more groups

          %h2.section-heading
            %a{:href => "search-members.html"} Members
          = partial :"teasers/member"
          = partial :"teasers/member_2"
          = partial :"teasers/member_3"
          = partial :"teasers/member_4"
          .align-center
            %a.button{:href => "search-members.html"} Find more members


%aside.l-sidebar.sidebar
  .block.hidden-mobile
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/groups"
        = partial :"blocks/search_filters/created"
        = partial :"blocks/search_filters/author"
        = partial :"blocks/search_filters/form-action"

