---
title: Search groups
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: groups
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"


%aside.l-sidebar.sidebar
  .block.hidden-mobile
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/my_groups"
        = partial :"blocks/search_filters/group_type"
        = partial :"blocks/search_filters/distance"
        = partial :"blocks/search_filters/group_skills"
        = partial :"blocks/search_filters/group_size"
        = partial :"blocks/search_filters/tags"
        = partial :"blocks/search_filters/form-action"

