---
title: Search members
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: members
listview: search-members-listview.html
teaserview: search-members.html
view: list
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        .resultstats 50 results
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          %table.tablesaw{"data-mode" => "swipe"}
            %thead
              %tr
                %th.views-field-avatar{"data-priority" => "persist"}
                %th.views-field-name{"data-priority" => "persist"} Name
                %th.views-field-username Username
                %th Location
                %th Date joined
                %th Relevance
                %th Member roles
                %th Proximity to me
                %th Profession
                %th Language preferences
                %th School
                %th Skills

            %tbody
              - 50.times do |num|
                %tr
                  %td
                    %img{:alt => "Example of image.", :src => "http://lorempixel.com/70/47/people/9/"}
                  %td
                    = lorem.name
                  %td
                    = lorem.name.downcase.tr(' ', '_')
                  %td
                    = lorem.words 3
                  %td
                    = lorem.date
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.date
          .align-center
            %a.button{:href => "#"} show some more


%aside.l-sidebar.sidebar
  .block
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/location_range"
        = partial :"blocks/search_filters/member_skills"
        = partial :"blocks/search_filters/profession"
        = partial :"blocks/search_filters/schools"
        = partial :"blocks/search_filters/member_groups"
        = partial :"blocks/search_filters/member_roles"
        = partial :"blocks/search_filters/form-action"

