---
title: Search news & media
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: newsmedia
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        .resultstats 11 results
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          = partial :"teasers/news-no-image"
          = partial :"teasers/news-with-image"
          = partial :"teasers/blog-with-image"
          = partial :"teasers/blog-no-image"
          = partial :"teasers/idea"
          = partial :"teasers/photo"
          = partial :"teasers/video"
          = partial :"teasers/document"
          = partial :"teasers/page"
          = partial :"teasers/faq"
          .align-center
            %a.button{:href => "#"} show some more


%aside.l-sidebar.sidebar
  .block.hidden-mobile
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/type"
        = partial :"blocks/search_filters/groups"
        = partial :"blocks/search_filters/created"
        = partial :"blocks/search_filters/tags"
        = partial :"blocks/search_filters/author"
        = partial :"blocks/search_filters/form-action"

