---
title: Search events
body_class: not-front logged-in page-search l-has-sidebar
user_role: lu
search_page: events
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        .resultstats 6 results
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          = partial :"teasers/event-no-image"
          = partial :"teasers/event-with-location"
          = partial :"teasers/event-with-image"
          = partial :"teasers/event-no-image"
          = partial :"teasers/event-with-location"
          = partial :"teasers/event-with-image"


%aside.l-sidebar.sidebar
  .block.hidden-mobile
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/event_date"
        = partial :"blocks/search_filters/groups"
        = partial :"blocks/search_filters/location_range"
        = partial :"blocks/search_filters/created"
        = partial :"blocks/search_filters/tags"
        = partial :"blocks/search_filters/author"
        = partial :"blocks/search_filters/form-action"

