.views-exposed-widget
  %label.form-label Author
  .views-widget
    .form-item
      %input.form-text.form-autocomplete#authorinput{:type => "text", :value => ""}
      .autocomplete#authorautocomplete
        %ul
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
