---
title: Typography
body_class: page-typography l-has-sidebar-first
layout: styleguide
direct_parent:
  -
    name: "Styleguide"
    url: "/"
  -
    name: "Design elements"
    url: "./colors.html"
layout: styleguide
---

= partial :"blocks/breadcrumbs"

%aside.sidebar-first
  = partial :"nav/designelements"

#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire typography
    %p
  = partial :"design-elements/heading"
  = partial :"design-elements/body-copy"
  = partial :"design-elements/inline-text"
  = partial :"design-elements/list"
  = partial :"design-elements/blockquote"
  = partial :"design-elements/links"
