#notifications-panel.attention-panel.dropdown.dropdown-tip.dropdown-anchor-right
  .dropdown-panel.content

    .tabable
      #notialerts.tabable-block.active
        %section.notifications-section
          %article.notification.notification-read
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "/images/blank.png", "data-srcset" => "/photos/60/alen.jpg 1x, /photos/120/alen.jpg 2x"}/
                %noscript
                  %img{:alt => "Alen Marsh", :src => "/photos/60/alen.jpg", :srcset => "/photos/60/alen.jpg 1x, /photos/120/alen.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    Alen Marsh
                  Alen Mash wants to be friends with you. Again
                .notifications-footer
                  %span.timestamp
                    5 minutes ago

          %article.notification.notification-read
            %a.media{:href => "./profile-rose.html#block-comments"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Rose Turner", :src => "/images/blank.png", "data-srcset" => "/photos/60/roseturner.jpg 1x, /photos/120/roseturner.jpg 2x"}/
                %noscript
                  %img{:alt => "Rose Turner", :src => "/photos/60/roseturner.jpg", :srcset => "/photos/60/roseturner.jpg 1x, /photos/120/roseturner.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  Rose Turner mentioned you in a shout.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification.notification-read
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Rose Turner", :src => "/images/blank.png", "data-srcset" => "/photos/60/roseturner.jpg 1x, /photos/120/roseturner.jpg 2x"}/
                %noscript
                  %img{:alt => "Rose Turner", :src => "/photos/60/roseturner.jpg", :srcset => "/photos/60/roseturner.jpg 1x, /photos/120/roseturner.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    Rose Turner
                  Rose Turner wants to be friend with you
                .notifications-footer
                  %span.timestamp
                    4 days ago

        .load-more-wrapper
          %a.button.btn-block#showallnotifications{:href => "#"} see all

        #hidden-notifications.element-hidden

          %article.notification.notification-read
            %a.media{:href => "./group-home.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "/images/blank.png", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has invited you to join group 'local group Amsterdam'.
                .notifications-footer
                  %span.timestamp
                    1 day ago

          %article.notification
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    2 days ago

          %article.notification.notification-read
            %a.media{:href => "./event-full.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "/images/blank.png", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has invited you to join the event 'color the streets'.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification
            %a.media{:href => "./index.html#block-comments"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    4 days ago

          %article.notification.notification-read
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification.notification-read
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dora Tilman", :src => "/images/blank.png", "data-srcset" => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
                %noscript
                  %img{:alt => "Dora Tilman", :src => "/photos/60/people8.jpg", :srcset => "/photos/60/people8.jpg 1x, /photos/120/people8.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    5 days ago

          %article.notification.notification-read
            %a.media{:href => "./index.html#block-comments"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "/images/blank.png", "data-srcset" => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people9.jpg", :srcset => "/photos/60/people9.jpg 1x, /photos/120/people9.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has mentioned you in a comment.
                .notifications-footer
                  %span.timestamp
                    1 week ago

          %article.notification.notification-read
            %a.media{:href => "./index.html#block-comments"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people6.jpg", :srcset => "/photos/60/people6.jpg 1x, /photos/120/people6.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  mention you in a comment.
                .notifications-footer
                  %span.timestamp
                    1 week ago

          %article.notification.notification-read
            %a.media{:href => "./profile-manage-friends.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Irving Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
                %noscript
                  %img{:alt => "Irving Stowe", :src => "/photos/60/people5.jpg", :srcset => "/photos/60/people5.jpg 1x, /photos/120/people5.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  has sent you a friend request.
                .notifications-footer
                  %span.timestamp
                    2 weeks ago

          %article.notification.notification-read
            %a.media{:href => "./group-home.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Bob Hunter", :src => "/images/blank.png", "data-srcset" => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
                %noscript
                  %img{:alt => "Bob Hunter", :src => "/photos/60/people2.jpg", :srcset => "/photos/60/people2.jpg 1x, /photos/120/people2.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  invited you to join the group 'Green nerds'.
                .notifications-footer
                  %span.timestamp
                    3 weeks ago

          %article.notification
            %a.media{:href => "./event-full.html"}
              .media-figure.avatar-holder
                %img.lazyload{:alt => "Dorothy Stowe", :src => "/images/blank.png", "data-srcset" => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
                %noscript
                  %img{:alt => "Dorothy Stowe", :src => "/photos/60/people3.jpg", :srcset => "/photos/60/people3.jpg 1x, /photos/120/people3.jpg 2x"}/
              .media-body
                .notifications-body
                  %strong
                    = lorem.name
                  invited you to join the event 'Paint the city'.
                .notifications-footer
                  %span.timestamp
                    1 month ago
