.action-bar
  .action-bar-item.filter
    %label More filters
    %a.button.btn-s.btn-dropdown{"data-dropdown" => "#filteroptions", :href => "#", :title => "Filter content"}
      %span More filters
    #filteroptions.dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right
      %ul.dropdown-panel
        %form
          .form-wrapper
            - for item in data.search.filters_lu
              %li
                .form-item.form-type-checkbox
                  %input.form-checkbox{:id => "#{item}", :checked => "checked", :type => "checkbox", :value => "#{item}"}
                  %label.option{:for => "#{item}"} #{item}
            %hr
            - for item in data.search.filters_cm
              %li
                .form-item.form-type-checkbox
                  %input.form-checkbox{:id => "#{item}", :type => "checkbox", :value => "#{item}"}/
                  %label.option{:for => "#{item}"} #{item}

          .form-actions.form-wrapper
            %input.button.btn-s{:type => "submit", :value => "Clear"}
