- data.blog.with_image.each do |item|
  .views-row
    %article.node-teaser-blog.node-teaser
      .field-type-image
        %a{:href => "./blog-article.html"}
          = partial :"teasers/teaser-image"
      .field-type-wrapper
        %h2.node-title
          %a{:href => "./blog-article.html"}
            = item.title
        .submitted
          %a.type.blog{:href => "./blogs.html"} Blog
          = succeed ", by" do
            = item.date
          - if current_page.data.user_role != "an"
            %a{:href => "./profile.html"}
              = item.author
          - else
            = item.author.downcase.tr(' ', '_')
          - if current_page.data.user_role != "an"
            %a.teaser-comments{:href => "./blog-article.html#block-comments"}
              = item.comment_amount
        .field-name-body
          = item.introtext
