- data.documents.document_two.each do |item|
  .views-row
    %article.node-teaser-document.node-teaser
      .field-type-image
      .field-type-wrapper
        %h2.node-title
          %a{:href => "./document.html"}
            = item.title
        .submitted
          %a.type.document{:href => "./documents.html"} Document
          = succeed ", by" do
            = item.date
          - if current_page.data.user_role != "an"
            %a{:href => "./profile.html"}
              = item.author
          - else
            = item.author.downcase.tr(' ', '_')
          - if current_page.data.user_role != "an"
            - if item.comment_amount
              %a.teaser-comments{:href => "./blog-article.html#block-comments"}
                = item.comment_amount
        .field-name-body
          = item.introtext
