---
title: Typography
body_class: page-typography
layout: styleguide
design_status: Needs review
---

%aside.sidebar-left
  = partial :"nav/designelements"
#content.l-main-column
  %section.block
    %i.block-icon.icon-info.icon-bg-default
    %h2.block-title Greenwire typography
    %p
  = partial :"design-elements/heading"
  = partial :"design-elements/body-copy"
  = partial :"design-elements/inline-text"
  = partial :"design-elements/list"
  = partial :"design-elements/blockquote"
  = partial :"design-elements/links"
