---
title: Search Groups
body_class: not-front not-logged-in page-search l-has-sidebar
user_role: an
---

= partial :"blocks/breadcrumbs"

.l-main-column#content

  .main-content

    %i.block-icon.icon-bg-default.icon-search
    %h1.block-title#page-title
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      // search types nav
      = partial :"nav/search-tabs"

      .view-search-results
        .view-content
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"
          = partial :"teasers/group-no-image"
          = partial :"teasers/group-with-image"


%aside.l-sidebar.sidebar
  .block.hidden-mobile
    %i.block-icon.icon-bg-default.icon-adjust
    %h2.block-title Filter
    .content
      %form
        = partial :"blocks/search_filters/group_type"
        = partial :"blocks/search_filters/location"
        = partial :"blocks/search_filters/group_size"
        = partial :"blocks/search_filters/group_skills"
        = partial :"blocks/search_filters/tags"
        = partial :"blocks/search_filters/form-action"


