---
title: Greenwire London
body_class: not-front logged-in page-group-home l-two-column
user_role: lu
design_status: Work in progress
joined: joined
organiser: organiser
action_menu:
  -
    id: "#content"
    label: "Updates"
    icon: "news"
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#block-group-info"
    label: "Group info"
    icon: "info"
  -
    id: "#block-comments"
    label: "Shoutbox"
    icon: "comment"
  -
    id: "#block-group-members"
    label: "Members"
    icon: "users"
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block
    =image_tag("/photos/group_public_large.jpg")
    %p
      %span Beat(s Against) Coal
    %button.button.btn-disabled.btn-l You are a member of this group

.l-main-column
  = partial :"blocks/updates"
  = partial :"blocks/upcoming_events"
  = partial :"blocks/lu/get_involved"
  = partial :"blocks/lu/group-members"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/comments"
  = partial :"blocks/group-info"

= partial :"blocks/lu/group-members-full"
= partial :"blocks/cm/block-group-add-members"
