---
title: Group Home (Organiser)
body_class: not-front logged-in page-group-home l-two-column
user_role: lu
design_status: Work in progress
joined: joined
organiser: organiser
---

= partial :"blocks/breadcrumbs"

.region-highlight
  .block
    =image_tag("/photos/group_public_large.jpg")
    %p
      %span Beat(s Against) Coal
    %button.button.btn-disabled.btn-l You are a member of this group

.action-menu
  %ul.tabs
    %li
      %a.tab{:href => "#content"}
        %i.icon.icon-news
        Updates
    %li
      %a.tab{:href => "#upcoming-events"}
        %i.icon.icon-event
        Events
    %li
      %a.tab{:href => "#block-comments"}
        %i.icon.icon-comment
        Shoutbox
    %li
      %a.tab{:href => "#block-group-info"}
        %i.icon.icon-info
        Group info
    %li
      %a.tab{:href => "#block-group-members"}
        %i.icon.icon-users
        Members
  %ul.tabs-overflow
    %li
      %a.tab.tab-overflow-trigger{:href => "#", "data-dropdown" => "#action-menu-tabs"}
        more
        %i.icon-down-mini
      .dropdown.dropdown-tip.dropdown-relative.dropdown-anchor-right#action-menu-tabs
        %ul.dropdown-menu

.l-main-column
  = partial :"blocks/updates"
  = partial :"blocks/upcoming_events"
  = partial :"blocks/lu/get_involved"
  = partial :"blocks/lu/group-members"

%aside.l-sidebar.sidebar
  = partial :"blocks/lu/comments"
  = partial :"blocks/group-info"

= partial :"blocks/lu/group-members-full"
= partial :"blocks/cm/block-group-add-members"
