---
title: Search members
body_class: not-front logged-in page-search l-has-sidebar is-content-manager
user_role: cm
search_page: members
listview: search-members-listview.html
teaserview: search-members.html
view: list
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current

    %i.block-icon.icon-bg-user.icon-search
    %h1.block-title{"data-amtitle" => "Search members"}
      = current_page.data.title

    .content

      // search box above results
      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          %table.tablesaw{"data-tablesaw-mode" => "swipe"}
            %thead
              %tr
                %th.views-field-views-bulk-operations{"data-tablesaw-priority" => "persist"}
                  %input.form-checkbox.js-selectall{:type => "checkbox"}
                %th.views-field-avatar{"data-tablesaw-priority" => "persist"}
                %th.views-field-name{"data-tablesaw-sortable-col" => ""} Name
                %th.views-field-username{"data-tablesaw-sortable-col" => "#"} Username
                %th{"data-tablesaw-sortable-col" => ""} Location
                %th{"data-tablesaw-sortable-col" => ""} Date joined
                %th{"data-tablesaw-sortable-col" => "", "data-tablesaw-sortable-default-col" => "#"} Relevance
                %th Member roles
                %th Proximity to me
                %th Profession
                %th.views-field-email Email
                %th Language preferences
                %th Gender
                %th Last login
                %th School
                %th Skills

            %tbody
              - 50.times do |num|
                %tr
                  %td
                    %input.form-checkbox{:type => "checkbox"}
                  %td
                    %img.lazyload{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people3.jpg"}/
                    %noscript
                      %img{:alt => "Name of the author.", :src => "/photos/75/people3.jpg"}/
                  %td
                    = lorem.name
                  %td
                    = lorem.name.downcase.tr(' ', '_')
                  %td
                    = lorem.words 3
                  %td
                    = lorem.date
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.email
                  %td
                    = lorem.word
                  %td
                    = lorem.word
                  %td
                    = lorem.date
                  %td
                    = lorem.word
                  %td
                    = lorem.word


%aside.l-sidebar.sidebar
  .block#block-filter
    = partial :"blocks/cm/search_filter_options"
    %i.block-icon.icon-bg-user.icon-adjust
    %h2.block-title{"data-amtitle" => "Filter"}
      Filter
    .content
      %form
        = partial :"blocks/search_filters/location_range"
        = partial :"blocks/search_filters/member_skills"
        = partial :"blocks/search_filters/profession"
        = partial :"blocks/search_filters/schools"
        = partial :"blocks/search_filters/member_groups"
        = partial :"blocks/search_filters/member_roles"
        = partial :"blocks/search_filters/form-action"

