!!!5
/[if (IE 7)&(!IEMobile)] <html class="no-js ie lt-ie10 lt-ie9 lt-ie8" lang="nl" dir="ltr">
/[if IE 8] <html class="no-js ie lt-ie10 lt-ie9" lang="nl" dir="ltr">
/[if IE 9] <html class="no-js ie lt-ie10" lang="nl" dir="ltr">
/[if (gte IE 9)|(gt IEMobile 7)] <html class="no-js ie" lang="nl" dir="ltr">
/ [if !IE]><!
%html.no-js{:dir => "ltr", :lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "true", :name => "HandheldFriendly"}/
    %meta{:content => "width", :name => "MobileOptimized"}/
    %link{:href => "http://www.w3.org/1999/xhtml/vocab", :rel => "profile"}/
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/vnd.microsoft.icon"}/
    %meta{:content => "Drupal 7 (http://drupal.org)", :name => "Generator"}/
    %meta#viewport{:content => "width=device-width,minimum-scale=1.0,maximum-scale=10.0,initial-    scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title=page_title

    = stylesheet_link_tag "all"
    = javascript_include_tag "before"

  %body{:class => "#{current_page.data.body_class || page_classes} style-guide"}
    /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
    .layout-base
      .l-branding-header
        .container
          %a.logo{:href => "index.html", :rel => "home", :title => "Home"}
            %span.element-invisible Greenpeace Greenwire  Nederland
          .mobile-nav
            %a#main-menu-show.nav-btn.icon-menu{"data-nav" => "js-nav", :href => "#primary-nav"}
              %span.element-invisible Show primary navigation

      %header.l-header.header
        .container
          = partial :"nav/main"

      .l-main.container#main
        = yield

      = partial :"nav/footer"


    = javascript_include_tag  "theme"



