.views-exposed-widget
  %label.form-label Author
  .views-widget
    .form-item
      %input.form-text.form-autocomplete{:type => "text", :value => ""}
      #autocomplete
        %ul
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
          %li
            = lorem.name
