#block-community-coaches.block.current
  %i.block-icon.icon-user.icon-bg-default
  %h2.block-title{"data-amtitle" => "Coaches"} Community coaches
  .content
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
    = partial :"teasers/member_2"
