#block-greenpeace-staff.block
  %i.block-icon.icon-user.icon-bg-default
  %h2.block-title Greenpeace staff
  .content
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
    = partial :"teasers/member_4"
