#upcoming-events.block.block-events
  - if current_page.data.user_role == "lu"
    = partial :"blocks/lu/add-event"
  %i.block-icon.icon-bg-event.icon-event
  %h2.block-title Upcoming events
  .content

    - if current_page.data.group == "home"
      #map.map

    - data.event.upcoming.each do |item|
      %article.node-type-small
        %h2
          %a{:href => "./event-full.html"}
            = item.title
        .date-display-single
          = item.date

    - data.event.to_join.each do |item|
      %article.node-type-small
        %h2
          %a{:href => "./event-full-induction-training.html"}
            = item.title
        .date-display-single
          = item.date

    %a.button{:href => "./events.html"} load more

- if current_page.data.group == "home"
  = javascript_include_tag "leaflet"
  = javascript_include_tag "map-data"

  :javascript

    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }),
    latlng = L.latLng(52.5, -2);

    var map = L.map('map', {center: latlng, zoom: 5, scrollWheelZoom: false, layers: [tiles]});

    var markers = L.markerClusterGroup();

    var eventIcon = L.icon({
      iconUrl: '/images/marker-events.png',
      iconRetinaUrl: '/images/marker-events@2x.png',
      shadowUrl: '/images/marker-shadow.png',
      shadowRetinaUrl: '/images/marker-shadow@2x.png',
      iconSize:     [25, 41], // size of the icon
      shadowSize:   [41, 41], // size of the shadow
      iconAnchor:   [13, 41], // point of the icon which will correspond to marker's location
      shadowAnchor: [13, 41],  // the same for the shadow
      popupAnchor:  [1, -5] // point from which the popup should open relative to the iconAnchor
    });

    for (var i = 0; i < events.length; i++) {
      var a = events[i];
      var marker = L.marker(new L.LatLng(a.lat, a.lng), {icon: eventIcon});
      marker.bindPopup('<h2 class="node-title"><a href="' + a.link + '">' + a.title +'</a></h2><div class="field field-name-field-event-date"><span class="date-display-single">'+ a.date +'</span></div>');
      markers.addLayer(marker);
    }

    L.marker([51.502560, -0.262359], {icon: eventIcon}).bindPopup('<h2 class="node-title"><a href="./event-full-induction-training.html">Induction event, welcoming newcommers</a></h2><div class="field field-name-field-event-date"><span class="date-display-single">4 May 2015 - 1:33 PM</span></div>').addTo(map)


    map.addLayer(markers);
