---
title: Document article example
body_class: not-front not-logged-in page-type-document l-has-sidebar node-full
direct_parent:
  -
    name: "Documents"
    url: "documents.html"
user_role: an
design_status: Needs review
action_menu:
  -
    id: "#content"
    label: "Document"
    icon: "document"
  -
    id: "#block-go-to-group"
    label: "Go to group"
    icon: "users"
  -
    id: "#create-account"
    label: "Create account"
    icon: "user-add"
---

= partial :"blocks/breadcrumbs"


- data.documents.document_one.each do |item|

  .l-main-column
    #content.block.current.main-content
      %i.block-icon.icon-bg-news-media.icon-document
      %h1.block-title
        = item.title

      .content
        %article.view-mode-full
          .submitted
            %a.type.document{:href => "./documents.html"} Document
            by
            = item.author.downcase.tr(' ', '_')
            \-
            %span.submitted-date
              = item.datetime

          .field-name-body
            .field-group-wrapper
              .field-group-format
                .field.field-name-document
                  %a.type.download{:href => "#"} file01.pdf
                  %a.type.download{:href => "#", "type" => "application/msword"} file02.doc
                  %a.type.download{:href => "#"} file03.pdf
                  %a.type.download{:href => "#"} file04.docx
                  %a.type.download{:href => "#"} file05.xls

            = item.full_text

          .tags
            Tags:
            - for tag in item.tags
              = succeed ", " do
                %a.tag{:href => "./search-newsmedia.html"} #{tag}
            %a.tag{:href => "./search-newsmedia.html"} Arctic oil

          .submitted.submitted-extended
            .submitted-image
              %img.lazyload{:alt => "#{item.author}", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
              %noscript
                %img{:alt => "#{item.author}", :src => "/photos/75/people5.jpg"}/
            .submitted-info
              %div
                %a{:href => "./documents.html"} Document
                by
                = item.author.downcase.tr(' ', '_')

    = partial :"blocks/an/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/an/create_account"
