---
title: Ga mee naar Festival Mundial
body_class: not-front not-logged-in page-type-event l-has-sidebar node-full
user_role: an
design_status: Work in progress
script: leaflet
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .block.main-content
    %i.block-icon.icon-bg-event.icon-event
    %h1#page-title.block-title
      = current_page.data.title
    .content
      %article.view-mode-full
        .submitted
          %a.type.event{:href => "./events.html"} Event
          by
          = lorem.name
          \-
          %span.submitted-date June 5th 2014 - 11:29
        .field-name-body

          .field-group-wrapper

            = partial :"images/article-image"

            .field-group-format

              .field.field-name-field-event-date
                .field-label Date:
                %div
                  %span.date-display-start 13 July, 2014 - 09:00 CEST
                  to
                  %span.date-display-end 14 July, 2014 - 12:00 CEST

              .field.field-name-field-event-location
                .field-label Location:
                %div
                  %a.js-show-mobile-map{:href => "#"}
                    %span Somewhere down town
                    %span Mainstreet 234
                    %span London

              .field.field-name-field-event-type
                .field-label Event type:
                %div
                  %span Festival/Market

              .field.field-name-field-event-organiser
                .field-label Event organiser:
                %div
                  Organised by
                  %span.username elly_mckenzie

              .field.field-name-field-event-num-attendees
                .field-label Attendees:
                %div
                  %span 36 persons are going

            .event-actions
              %button.js-show-sidebar.button.btn-block.btn-primary.btn-l RSVP

          #desktopmap

          %p
            %strong Festival Mundial

          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %ol
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %img.field-type-image.pull-left{:alt => "Example of image.", :src => "http://placeimg.com/600/400/arch/5"}/
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
          .submitted-info
            %div
              %a{:href => "./events.html"} Event
              by willie_mackenzie
            .submitted-bio
              %p Born in 1965 and hailing from South Africa, Willie MacKenzie has been Greenpeace’s International Executive Director since November 2009.
            .submitted-all-reference
              %a{:href => "#"}> All events by willy_mackenzie
              \.

  = partial :"blocks/an/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/an/rsvp"
  = partial :"blocks/an/create_account"
  = partial :"blocks/go_to_group"

= javascript_include_tag "leaflet"
= javascript_include_tag "upcoming-events"

:javascript

  var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }),
  latlng = L.latLng(52.5, -2);

  var map = L.map('desktopmap', {center: latlng, zoom: 10, scrollWheelZoom: false, layers: [tiles]});

  var markers = L.markerClusterGroup();

  var eventIcon = L.icon({
    iconUrl: '/images/marker-events.png',
    iconRetinaUrl: '/images/marker-events@2x.png',
    shadowUrl: '/images/marker-shadow.png',
    shadowRetinaUrl: '/images/marker-shadow@2x.png',
    iconSize:     [25, 41], // size of the icon
    shadowSize:   [41, 41], // size of the shadow
    iconAnchor:   [13, 41], // point of the icon which will correspond to marker's location
    shadowAnchor: [13, 41],  // the same for the shadow
    popupAnchor:  [1, -5] // point from which the popup should open relative to the iconAnchor
  });

  for (var i = 0; i < 1; i++) {
    var a = upcomingEvents[i];
    var marker = L.marker(new L.LatLng(a[0], a[1]), {icon: eventIcon});
    marker.bindPopup('<h2 class="node-title"><a href="#">Join us to Festival Mundial</a></h2><div class="field field-name-field-event-date"><span class="date-display-single">25 September, 2014 - 14:57</span></div>');
    markers.addLayer(marker);
  }

  map.addLayer(markers);
