---
title: Example of a group
direct_parent:
  -
    name: "Groups"
    url: "groups.html"
body_class: not-front not-logged-in page-group-home l-two-column
user_role: an
action_menu:
  -
    id: "#block-group-info"
    label: "Group info"
    icon: "info"
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#content"
    label: "Updates"
    icon: "news"
  -
    id: "#block-members"
    label: "Members"
    icon: "users"
---

= partial :"blocks/breadcrumbs"

- data.groups.group_local3.each do |item|

  .l-main-column

    %h1.group-heading.only-mobile
      %i.icon-users
      = item.title

    = partial :"blocks/group_info_local3"
    = partial :"blocks/upcoming_events"

  %aside.l-sidebar.sidebar
    = partial :"blocks/group-members"
    = partial :"blocks/updates"


