---
title: Greenwire London
direct_parent:
  -
    name: "Groups"
    url: "groups.html"
body_class: not-front not-logged-in page-group-home l-two-column
user_role: an
group: home
design_status: Work in progress
action_menu:
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#content"
    label: "Updates"
    icon: "news"
  -
    id: "#block-group-info"
    label: "Group info"
    icon: "info"
---
= partial :"blocks/breadcrumbs"

.l-main-column

  %h1.group-heading.only-mobile
    %i.icon-users
    = current_page.data.title

  = partial :"blocks/group-info"
  = partial :"blocks/upcoming_events"

%aside.l-sidebar.sidebar
  = partial :"blocks/group-members"
  = partial :"blocks/updates"


