---
title: Greenwire London
body_class: not-front not-logged-in page-group-home l-two-column
user_role: an
group: home
design_status: Work in progress
action_menu:
  -
    id: "#upcoming-events"
    label: "Events"
    icon: "event"
  -
    id: "#content"
    label: "Updates"
    icon: "news"
  -
    id: "#block-group-info"
    label: "Group info"
    icon: "info"
---
= partial :"blocks/breadcrumbs"

.l-main-column
  = partial :"blocks/upcoming_events"
  = partial :"blocks/updates"

%aside.l-sidebar.sidebar
  = partial :"blocks/group-info"
  = partial :"blocks/group-members"

