---
title: Idea article example
body_class: not-front not-logged-in page-type-idea l-has-sidebar node-full
user_role: an
design_status: Needs review
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .main-content
    %i.block-icon.icon-bg-news-media.icon-idea
    %h1#page-title.block-title
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.idea{:href => "./ideas.html"} Idea
          by
          = lorem.name
          %span.submitted-date June 5th 2014 - 11:29

        .field-name-body

          .gwvote-widget
            .bar
              .score
                .point.positive{:style => "width: 75%"}
                  %i.icon-vote-up
                  9
              .score
                .points.negative{:style => "width: 25%"}
                  %i.icon-vote-down
                  3

          %p
            = lorem.paragraph
          %p
            = lorem.paragraph

          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people5.jpg"}/
          .submitted-info
            %div
              %a{:href => "./ideas.html"} Idea
              by Willie Mackenzie
            .submitted-all-reference
              %a{:href => "#"} All ideas by Willy Mackenzie
              \.

  = partial :"blocks/an/comments"


%aside.l-sidebar.sidebar
  = partial :"blocks/go_to_group"
  = partial :"blocks/an/create_account"

