---
title: Photo album example
body_class: not-front not-logged-in page-type-photos l-has-sidebar node-full
direct_parent:
  -
    name: "Photos"
    url: "photos.html"
user_role: an
design_status: Work in progress
action_menu:
  -
    id: "#content"
    label: "Photo album"
    icon: "photo"
  -
    id: "#block-go-to-group"
    label: "Go to group"
    icon: "users"
  -
    id: "#create-account"
    label: "Create account"
    icon: "user-add"
---

= partial :"blocks/breadcrumbs"

- data.photos.album_one.each do |item|

  .l-main-column
    #content.block.current.main-content
      %i.block-icon.icon-bg-news-media.icon-photo
      %h1.block-title
        = item.title
      .content
        %article.view-mode-full
          .submitted
            %a.type.photo{:href => "./photos.html"} Photos
            by
            = item.author.downcase.tr(' ', '_')
            %span.submitted-date
              -
              = item.datetime

          .field-name-gallery
            - for photo in item.photos
              %a.album-thumbnail{:href => "/photos/#{photo.url}", :title => "View large image"}
                %img.lazyload{:alt => "#{photo.caption}", :src => "/photos/blank.png", "data-src" => "/photos/96/#{photo.url}" }
                %noscript
                  %img{:alt => "#{photo.caption}", :src => "/photos/96/#{photo.url}" }

          .field-name-body
            = item.full_text

          .tags
            Tags:
            - for tag in item.tags
              = succeed ", " do
                %a.tag{:href => "./search-newsmedia.html"} #{tag}
            %a.tag{:href => "./search-newsmedia.html"} Arctic oil

          .submitted.submitted-extended
            .submitted-image
              %img.lazyload{:alt => "#{item.author}", :src => "/photos/blank.png", "data-src" =>  "/photos/75/people5.jpg"}/
              %noscript
                %img{:alt => "#{item.author}", :src => "/photos/75/people5.jpg"}/
            .submitted-info
              %div
                %a{:href => "./photos.html"} Photo album
                by
                = item.author.downcase.tr(' ', '_')

    = partial :"blocks/an/comments"

  %aside.l-sidebar.sidebar
    = partial :"blocks/related_photos"
    = partial :"blocks/go_to_group"
    = partial :"blocks/an/create_account"

