---
title: Photos
body_class: not-front not-logged-in page-search l-has-sidebar
user_role: an
search_page: newsmedia
filter_type: photos
listview: search-newsmedia-listview.html
teaserview: search-newsmedia.html
---

= partial :"blocks/breadcrumbs"

.l-main-column

  #content.block.current

    %i.block-icon.icon-bg-news-media.icon-photo
    %h1.block-title{"data-amtitle" => "Photos"}
      = current_page.data.title

    .content

      = partial :"blocks/search-header-search-box"

      .view-header
        = partial :"nav/search-tabs"
        = partial :"nav/search-actions"

      .view-search-results
        .view-content
          - 10.times do |num|
            = partial :"teasers/photo"

          %ul.pager.pager-load-more
            %li
              %a{:href => "#"} Show some more

%aside.l-sidebar.sidebar
  .block#block-find-photos
    %i.block-icon.icon-bg-news-media.icon-adjust
    %h2.block-title{"data-amtitle" => "Filter"} Filter
    .content
      %form

        = partial :"blocks/search_filters/type"
        = partial :"blocks/search_filters/created"
        = partial :"blocks/search_filters/tags"
        = partial :"blocks/search_filters/form-action"

  = partial :"blocks/an/create_account"
