---
title: Register step 4/4
body_class: page-register not-logged-in l-has-sidebar
user_role: an
---

= partial :"blocks/breadcrumbs"

.l-main-column
  #content.block.current
    %i.block-icon.icon-bg-user.icon-user-add
    %h1#page-title.block-title
      = current_page.data.title
    .content
      .progress-bar-wrapper
        .progress-bar{:style => "width: 75%;"} 75%
      %form{:action => "./register-step5.html", :method => "get"}
        .form-wrapper
          .form-item.form-type-checkbox
            %input#check2.form-checkbox{:checked => "checked", :type => "checkbox", :value => "1"}/
            %label.option{:for => "check2"}
              I want to signup as a volunteer at Greenpeace and agree to the
              = succeed "." do
                %a.modal-inline{:href => "#agreement"} user agreement
              %span.form-required{:title => "This field is required."} *
        .form-actions.form-wrapper
          %a.button.pull-left{:href => "./register-step3.html", :tabindex => "11"} Back to previous step
          %input.button.btn-primary.pull-right{:type => "submit", :value => "Subscribe"}/
%aside.l-sidebar.sidebar
  = partial :"blocks/an/save_planet4"

= partial :"blocks/an/agreement"
