---
title: Video page example
body_class: not-front not-logged-in page-type-video l-has-sidebar node-full
user_role: an
design_status: Work in progress
loadvideo: youtube
---

= partial :"blocks/breadcrumbs"

#content.l-main-column
  .block.main-content
    %i.block-icon.icon-bg-news-media.icon-video
    %h1#page-title.block-title
      = lorem.words 10
    .content
      %article.view-mode-full
        .submitted
          %a.type.video{:href => "./videos.html"} Video
          by willie_mackenzie -
          %span.submitted-date June 5th 2014 - 11:29

        .container-lazyload.preview-lazyload.container-youtube#youtube_1
          %a.lazy-load-youtube.preview-lazyload.preview-youtube{:href => "http://www.youtube.com/watch?v=esj393oRKPc", "video-title" => "Greenpeace in Action", :title => "Play Greenpeace in Action"}
            http://www.youtube.com/watch?v=esj393oRKPc

        .field-name-body
          %p
            = lorem.paragraph
          %p
            = lorem.paragraph
          %ul
            %li
              = lorem.sentence
            %li
              = lorem.sentence
            %li
              = lorem.sentence
          %p
            = lorem.paragraph
          %p
            = lorem.sentence
            %strong without
            = lorem.sentence

        = partial :"blocks/tags"

        .submitted.submitted-extended
          .submitted-image
            %img.lazyload{:alt => "Name of the author.", :src => "/photos/blank.png", "data-src" => "/photos/75/people1.jpg"}/
            %noscript
              %img{:alt => "Name of the author.", :src => "/photos/75/people1.jpg"}/

          .submitted-info
            %div
              %a{:href => "./videos.html"} Video
              by willie_mackenzie
            .submitted-all-reference
              %a{:href => "#"}> All videos by willy_mackenzie
              \.

  = partial :"blocks/an/comments"

%aside.l-sidebar.sidebar
  = partial :"blocks/related_videos"
  = partial :"blocks/go_to_group"
  = partial :"blocks/an/create_account"

